<div [formGroup]="collateralDetailFormGroup">
    <div class="collateral-detail main-form-div">
    <h2>COLLATERAL DETAIL</h2>

        <mat-form-field>
            <mat-label>S/No.</mat-label>
            <input matInput name="srNo1" formControlName="srNo1" >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Scrip Name</mat-label>
            <input matInput name="scriptName1" formControlName="scriptName1" >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Symbol</mat-label>
            <input matInput name="symbol1" formControlName="symbol1" >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Volume</mat-label>
            <input matInput name="volume1" formControlName="volume1" >
        </mat-form-field>
      
    </div>
</div>