<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto overflow-x-hidden"
    style="background-image: url('assets/images/marlin-dashboard/dashboard-back.png');">

    <div class="m-8">
        <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate cursor-default">
            Favourites
            <!-- <mat-icon class="text-primary-500 icon-size-6" [svgIcon]="'mat_solid:star'"></mat-icon> -->
        </h2>
    </div>

    <div class="ml-8 mr-8">
        <section class="mat-elevation-z8 overflow-y-auto  h-120" tabindex="0">
            <table class="w-full bg-transparent tableMargin" mat-table [dataSource]="favouriteSymbolsDataSource">
                <ng-container matColumnDef="Symbol">
                    <th class="text-primary-500 lg:text-lg md:text-md" style="background-color: #193c5d; width:35%" mat-header-cell
                        *matHeaderCellDef>
                        Symbol
                    </th>
                    <td mat-cell *matCellDef="let element" [@animate]="{value:'*',params:{delay:'70ms',scale:'0.2'}}">
                        <div class="flex items-center pt-2 pb-2">
                            <img class="w-10" [src]=element.src>
                            <div class="flex flex-col hover:underline cursor-pointer ml-4">
                                {{element.securityDescription}}
                            </div>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="Bid">
                    <th class="text-primary-500 lg:text-lg md:text-md" style="background-color: #193c5d; width:10%" mat-header-cell
                        *matHeaderCellDef>
                        Bid
                    </th>
                    <td mat-cell *matCellDef="let element" [@animate]="{value:'*',params:{delay:'70ms',scale:'0.2'}}"> {{element.bidPrice}}</td>
                </ng-container>

                <ng-container matColumnDef="Ask">
                    <th class="text-primary-500 lg:text-lg md:text-md" style="background-color: #193c5d; width:10%" mat-header-cell
                        *matHeaderCellDef>
                        Ask
                    </th>
                    <td mat-cell *matCellDef="let element" [@animate]="{value:'*',params:{delay:'70ms',scale:'0.2'}}"> {{element.offerPrice}} </td>
                </ng-container>

                <ng-container matColumnDef="Change">
                    <th class="text-primary-500 lg:text-lg md:text-md" style="background-color: #193c5d; width:20%" mat-header-cell
                        *matHeaderCellDef>
                        Change
                    </th>
                    <td mat-cell *matCellDef="let element" [@animate]="{value:'*',params:{delay:'70ms',scale:'0.2'}}"> 
                        <div class="flex items-end mt-2">
                            <mat-icon class="text-green-500 icon-size-3.5 mx-0.5 mb-px"
                                [ngClass]="{'text-green-500': element.dir === 'up', 'text-red-500': element.dir === 'down'}"
                                [svgIcon]="element.dir === 'up' ? 'heroicons_solid:arrow-narrow-up' : 'heroicons_solid:arrow-narrow-down'">
                            </mat-icon>
                            <div class="font-mono font-medium text-lg leading-none mb-px"
                                [ngClass]="{'text-green-500': element.dir === 'up', 'text-red-500': element.dir === 'down'}">
                                {{element?.securityStatsDTO?.change}}%
                            </div>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="Favourites">
                    <th class="text-primary-500 lg:text-lg md:text-md" style="background-color: #193c5d" mat-header-cell
                        *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element" [@animate]="{value:'*',params:{delay:'70ms',scale:'0.2'}}">
                        <div>
                            <button mat-icon-button title="">
                                <mat-icon class="text-hint" [svgIcon]="'mat_solid:notifications_active'">
                                </mat-icon>
                            </button>

                            <button mat-icon-button title="Remove form Favourites" class="ml-6" ngDefaultControl
                                color="primary" (click)="removeFromWatchList(element)">
                                <mat-icon color="primary" class="text-hint" [svgIcon]="'mat_solid:star'">
                                </mat-icon>
                            </button>

                            <button mat-icon-button title="Info" color="primary" class="ml-6"
                                (click)="onClickInfo(element)">
                                <mat-icon color="primary" class="text-hint" [svgIcon]="'mat_outline:info'">
                                </mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="menu; sticky: true"></tr>
                <tr class="order-row h-16" mat-row *matRowDef="let row; columns: menu;"></tr>
            </table>
        </section>
    </div>
</div>