.list button {
    padding: 0px 8px 8px 11px;
    font-size: 15px;
    color: #d1d1d1;
    display: block;
    transition: 0.3s;
    height: 20px;
    border-bottom-width: 0.2px;
    border-color: #8a8a8a26;

}


.listStyle {
    box-shadow: -0.4rem 0.5rem 1rem #0e0d0dc2;
    height: 170px;
    margin-top: 11px;
    margin-left: 6px;
    margin-right: -6px;
}

.boxShadow {
    box-shadow: -0.4rem 0.5rem 1rem #0e0d0dc2;
}

::placeholder {
    font-style: italic
}

.btnStyle {
    display: block;
    width: 100%;

    padding: 14px 28px;
    margin-top: 11px;
    cursor: pointer;
    text-align: left;
}

.btnStyle:hover {
    background-color: #4c4c4cad;
    color: white;
    font-size: 15.5px;
}


.btnStyleActive{
    background-color: #4c4c4cad;
    color: white !important;
    font-size: 15.5px !important;
}

.tableMargin {
    margin-top: -48px;
}

.num {
    text-align: center;
    border-radius: 10px;
    background-color: #454545bf;
    width: 19px;
    font-size: small;
    height: 17px;
    color: #f39b06;
    float: right;
    margin-top: 2px;
    margin-right: -3px;

}