<div>
    <div class="declaration-2">
    <h2>INSTRUCTIONS/CHECK LIST: (Documents to be uploaded/attached with the Application)</h2>

        <div>
            <b> Important Points:</b>
            <br />

            1. All detail to be filled in CAPITAL LETTERS, fill all fields, leave the irrelevant one’s blank.
            2. Account Opening Application Form and all relevant documents are to be signed by the Company’s designated
            officer and uploaded accordingly if not submitted physically.
            3. Copies of all documents uploaded/attached should be attested.
            4. If the mailing address and permanent address are different, any document serving as evidence for it must
            be uploaded/attached.
            5. Documentation may include Copy of accounts, annual reports, Audited financial statements for at least 3
            years etc.
            6. Other documents include Certificate of Incorporation, Memos and Articles for Limited Liability Companies,
            Partnership deed for partnerships, Bank statements.
            7. The Company’s board resolution is required for authorization of the designated officer for applying for
            Account Opening Form and signing of documents on behalf of the company that is applying for Opening of
            Account with the brokerage House and thereafter dealing with the share business affairs.
            <br />

            B. Proof of Identity:
            List of valid documents admissible as proof of identity:
            1. Certificate of Incorporation.
            <br />

            C. Proof of Address:
            List of valid documents admissible as proof of address:
            1. Certificate of Incorporation.
            <br />

            D. List of people authorized to attest the documents:
            <br />

            1. Notary Public, Gazette Officer, Managers of Scheduled commercial Banks, or Multinational Foreign Bank.
            Please note that name, designation, and seal should be affixed or the letter head of the document.
            2. Authorized officials of overseas branches of scheduled banks registered in the country, Notary Public,
            Count Magistrate, Judge/ Ambassador/Consulate General in the country, where the client resides, are
            permitted to attest the documents.
            <br />

            SPECIAL TERMS AND CONDITIONS
            The terms and conditions set herein below shall be equally binding on the Broker and the Account Holder(s).
            1. All transactions between the parties shall be subject to the Articles, Rules and Regulations of the
            Exchange, revised policies, Board Directions, and new regulations to be framed in pursuance of applicable
            Rules and Regulations of the Securities & Exchange Commission (SEC). Moreover, all applicable provisions of
            the Securities & Exchange Commission (SEC), Brokers and Agents Registration Rules, , Securities and Exchange
            Rules and all directions/directives passed from time to time to regulate the trades between the parties and
            to regulate Brokers conduct and the Central Depository Company, Rules framed there under and the Clearing
            and Settlement System Regulations and any other law for the time being in force. The Broker shall ensure
            provisions of copies of all the above Laws, Rules and Regulations at his office for access to the Account
            Holder(s) during working hours.
            1(a). In case any dispute in connection with the trade or transaction between the Broker and the Account
            Holder is not settled amicably, either party may refer the same to arbitration in accordance with the
            provisions of the Exchange’s Regulations, which shall be binding on both the parties. The Account Holder
            hereby agrees that he would have no objection if his name and other relevant particulars are placed on
            Exchange’s database accessible by Brokers of the Exchange if he fails or refuses to abide by or carryout any
            arbitration award passed against him in his dispute with the Broker.
            2. The amount deposited as security margin by the Account Holder(s) with the Broker shall only be used for
            the purposes of dealing in securities, such as trading and/or settlement of deliveries of securities on
            behalf of the Account Holder(s). The Broker shall not use such amounts for his own use.
            2(a). The credit amount of the Account Holder(s) shall be kept by the Broker in a separate bank account
            titled “Account Holder/Client Account” and shall not be used by the broker for his own business other than
            account holder’s share business.
            3. The Broker shall be authorized to act on the verbal instructions of the Account Holder(s). The Broker
            shall provide a written confirmation of the executed transactions as required under the relevant rules of
            the Securities & Exchange Commission (SEC), and all such transactions recorded by the Broker in his books
            shall be conclusive and binding upon the Account Holder(s), which shall not be questioned by him/her/them.
            <br />
            
            Or
            <br />
            <br />

            The Account Holder(s) shall give written instructions for the sale/purchase of securities to the Broker. The
            Account Holder(s) shall not give any verbal/oral instructions. The Broker shall provide a written
            confirmation of the executed transactions as required under the relevant rules of the Securities & Exchange
            Commission (SEC), and all such transactions recorded by the Broker in his books shall be conclusive and
            binding upon the Account Holder(s), which shall not be questioned by him/her/them.
            <br />
            <br />

            4. The Broker shall provide the confirmation of the executed transactions to the __________________ (Name of
            Account Holder) at the above stated address by means of acceptable mode of communication as agreed or by
            hand subject to acknowledgement receipt.
            <br />

            5. In case there are any error(s) in the daily confirmation statement, the Account Holder(s) shall report
            the same to the Broker within one working day of the receipt of confirmation. In case the Account Holder(s)
            do not respond within one working day of the receipt of the said daily confirmation statement, the
            confirmation statement shall be deemed conclusively accepted by the Account Holder(s).
            6. In the event that the Account Holder(s) fail(s) to deposit additional cash or securities as margin within
            one working day of the margin call (in writing), the Broker shall have absolute discretion to and, without
            further notice to Account Holder(s), liquidate the Account Holder(s) outstanding positions, including the
            securities purchased and carried in such account, so that the margin is maintained at the required level.
            7 (a) The Broker shall be responsible to ensure delivery of eligible securities in the Depository account of
            the Account Holder(s) subject to full payment by the Account Holder(s). In case of companies which are not
            on the Depository in electronic form, the Broker shall ensure delivery of physical shares along with
            verified transfer deeds against payments, to the Account Holder(s). Further, the Broker shall be responsible
            for the payment of any credit cash balance available in the account of the Account Holder preferably in form
            of A/c Payee cross cheque only within 1 working day of the request of the Account Holder(s) (subject to the
            maintenance of the margin requirements).
            <br />

            (b) In the event of non-receipt of payment from the Account Holder on settlement day against securities
            bought on account of the Account Holder, the Broker may transfer such securities to his Collateral Account /
            Liquidation Account under intimation to the Exchange, after complying with the requirements.
            8. The Broker shall accept from the Account Holder(s) payments through "A/c Payee Only" crossed cheque, bank
            drafts, pay orders or other crossed banking instruments in case of amounts in excess of cash
            USD/Euro-------------. Online/Electronic transfer of funds to the Broker through banks would be regarded as
            good as cheque. The Broker shall be responsible to provide the receipt to the Account Holder(s) in the name
            of the Account Holder(s) duly signed by authorized agents/employee of the Broker and the Account Holder(s)
            shall be responsible to obtain the receipt thereof. In case of cash dealings, proper receipt will be taken
            and given to the Account Holder(s), specifically mentioning if payment is for margin or the purchase of
            securities. The broker shall immediately deposit in its bank account all cash received in whole i.e., no
            payments shall be made from the cash received from clients. However, in exceptional circumstances, where it
            becomes necessary for Broker to accept cash in excess of USD/Euro-------------, the Broker shall immediately
            report within one working day such instances with rationale thereof to the Exchange in accordance with the
            mechanism prescribed by the Exchange.
            <br />

            9. The Brokers shall make all the payments of USD/Euro-------------. and above, through crossed cheques /
            bank drafts / pay orders or any other crossed banking instruments showing payment of amount from their
            business bank account. Copies of these payment instruments including cheques, pay orders, demand drafts and
            online instructions shall be kept in record for a minimum period of five years.
            10. The Account Holder(s) shall have a right to obtain a copy of his/her or their ledger statement under
            official seal and signature of the Broker or his authorized representative on a periodic basis. In case of
            any discrepancy in the ledger statement, the Account Holder(s) shall inform the Broker within 1 working day
            of receipt of the ledger statement to remove such discrepancy.
            11. The Account Holder(s) shall operate the account and execute transactions himself/herself/themselves
            unless the Account Holder(s) authorize other contact person Mr. /Ms. / __________________ I. D. No.
            ___________ to transact in the account. All transactions executed by the authorized person shall be binding
            upon the Account Holder(s).
            <br />

            12. The Broker shall be responsible to append a list of his authorized agents/traders and designated
            employees, who can deal with the Account Holder(s), with this account opening form and a copy of both the
            opening form and the list will be provided to the Account Holder(s). Any change therein shall be intimated
            in writing to the Account Holder(s) with immediate effect.
            13. The Broker shall debit the account of the Account Holder(s) for the commission, fee, levies, or any
            other charges in connection with the brokerage services rendered, which shall be clearly detailed in the
            ledger statement/daily confirmations.
            14. The Broker shall not disclose the information of the transactions of the Account Holders to any third
            party and shall maintain the confidentiality of this information. However, in case the Exchange or the SEC,
            as the case may be, requires any such information, the Broker shall be obliged to disclose the same for
            which the Account Holder(s) shall not raise any objection whatsoever.
            15. In case a Broker converts his individual broker ship rights to corporate broker ship and vice versa the
            agreement and conditions laid down herein above shall remain effective unless otherwise agreed by the
            parties.
            <br />

            16. Acceptable mode of communication between the Account Holder(s) and the Broker shall be through letter
            (courier/registered post/fax/E-mail/SMS) or by hand subject to receipt/acknowledgment. The onus of proving
            that the e-mail has been received by the recipient shall be on the sender sending the e-mail. Confirmation
            of orders to clients made through fax or e-mail or SMS will have a time record.
            17. All orders received telephonically and placed on Trading System shall be supported by recording on
            dedicated telephonic lines, preferably connected with a computerized taping system so as the orders could
            possibly be sorted on Unique Identification Number basis and made user friendly
            18. In case of change of address or contact numbers of either party, the concerned party shall immediately
            notify the other party of the changes in writing.
            19. I/We, the Account Holder(s) acknowledge receipt of this account opening form and I/we, the Account
            Holder(s) also undertake that I/we have understood all the above terms and conditions of this agreement
            which are acceptable to me/us.
            20. I/We, the Account Holder(s) understand that the shares trading business carries risk and subject to the
            due diligence on part of the broker. I/We may incur losses for which I/we, the Account Holder(s) shall not
            hold the Broker responsible.
            21. I/We, the Account Holder(s) further confirm that all information given in this application is true and
            complete and hereby authorize the Broker to verify any information mentioned above.
            <br />
            <br />

            ______________________ ____________________________
            Signature of Broker Signature of Account Holder
            <br />
            <br />

            ____________________________
            Signature of other contact person
            <br />
            <br />

            WITNESSES:
            1. ___________________________________ (I. D. Card No._________________________)
            2. ___________________________________(I. D. Card No. _________________________ ) Opened by:
            ___________________________ Checked by: ___________________________
            Date: ________________
            <br />
            <br />
            <br />

            Enclosures (for corporate entities): (Upload the following documents)
            1) Certified true copy of Board Resolution
            2) Certified true copies of Memorandum & Articles of Association.
            3) List of authorized signatories.
            4) List of nominated persons allowed placing orders.
            5) Attested copies of Certificate of Incorporation of the applicant(s).
            6) Attested copies of National Identity Card of the contact person and other stakeholders (if applicable)
            7) Attested copies of passports of the applicant, Contact person(s) and stakeholders (in case of
            non-residents)
            <br />
            <br />

            (Customer may submit the above-mentioned form manually with the brokerage firm if not uploaded).


        </div>
    </div>
</div>