<div class="flex-auto p-6 sm:p-10">

    <div class="flex flex-wrap justify-between w-full max-w-400 -m-4">

        <!-- Title and action buttons -->
        <div class="flex items-center justify-between w-full">
            <div>
                <div class="text-3xl font-semibold tracking-tight leading-8">Commodities</div>
            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 w-full mt-8">
            <fuse-card *ngFor="let card of commoditiesCard" class="flex flex-col max-w-80 w-full filter-article">
                <img height="20px" width="20px"
                    class="object-contain h-48"
                    [src]="card.background"
                    alt="{{card.name}}">
                <div class="m-8 text-2xl font-semibold leading-tight">{{card.name}}</div>
            </fuse-card>
        </div>
    </div>

</div>

