<!-- /////////// Loading animations ///////////// -->
<div class="loading-animations" *ngIf="showLoader">
    <div class="request-loader">
            <progress></progress> 
    </div>
</div>


        <section class="widget " widget="">
            <header>
                <h3>{{"Menu.Bond Payment Schedule" | translate}} </h3>
                <div class="other_btns">
                    <!-- <div class="dropdown action_box" style="margin-right:60px;">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="true">
                            {{ 'Common.Action' | translate }}
						<span class="caret"></span>
					</button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="javascript:void(0);" *ngIf="status == 'P' && userService.isAuhtorized(userService.EB_EQUITY_SETTLEMENT_REVERSE)"
                                    (click)="onPostAction('R')">{{ 'Translation.Reverse' | translate }}</a></li>
                            <li><a href="javascript:void(0);" *ngIf="status == 'U' && userService.isAuhtorized(userService.EB_EQUITY_SETTLEMENT_PROCESS)"
                                    (click)="onPostAction('P')">{{ 'Translation.Process' | translate }}</a></li>
                        </ul>
                    </div> -->
                    <button data-toggle="collapse" data-target="#filter_box" class="filter_btn mr-2"><i class="fa fa-filter" aria-hidden="true"></i> </button>
                </div>
            </header>

            <div>
                <div id="filter_box" class="collapse in">
                    <div class="row mt-2">
                        <div class="col-sm-3 fields_box">
                            <label for="searchExchangeId">{{ 'Translation.Exchange' | translate }}
                                <span class="validation">*</span>
                            </label>
                            <wj-combo-box tabindex="1" #sExchangeId id="searchExchangeId" class="form-control" [isEditable]="true" [itemsSource]="searchExchangeList"
                             displayMemberPath="exchangeCode" (ngModelChange)="onSearchExchangeChangeEvent($event)" selectedValuePath="exchangeId"
                             [(ngModel)]="searchExchangeId"></wj-combo-box>
                        </div>
                        <div class="col-sm-3 fields_box">
                            <label for="searchMarketId">{{ 'Translation.Market' | translate }}
                                <span class="validation">*</span>
                            </label>
                            <wj-combo-box tabindex="2" #sMarketId id="searchMarketId" class="form-control" [isEditable]="true" [itemsSource]="searchMarketList"
                             displayMemberPath="marketCode" (ngModelChange)="onSearchMarketChangeEvent($event)" selectedValuePath="marketId" [(ngModel)]="searchMarketId"></wj-combo-box>
                        </div>
                        <div class="col-sm-3 fields_box">
                            <label for="searchSecurityId">{{ 'Translation.Security' | translate }}
                                <span class="validation"></span>
                            </label>
                            <wj-combo-box tabindex="3" #sSecurityId id="searchSecurityId" class="form-control" [isEditable]="true" [itemsSource]="searchSecurityList"
                             displayMemberPath="symbol" selectedValuePath="securityId" [(ngModel)]="searchSecurityId"></wj-combo-box>
                        </div>
                        
                        <div class="col-sm-2">
                            <div class="flex">
                            <div class="form_search">
                                <button [class]="buttonClass" (click)="onSearchEvent(sExchangeId.selectedValue,sMarketId.selectedValue,sSecurityId.selectedValue)"
                                    title="Search"  data-toggle="collapse in" data-target="#filter_box"><span class="fa fa-search"></span> </button>
                            </div>
                            <div class="ml-6 form_search">
                                <button [class]="buttonClass" (click)="onGenerateEvent(sExchangeId.selectedValue,sMarketId.selectedValue,sSecurityId.selectedValue)"
                                    title="Generate"  data-toggle="collapse in" data-target="#filter_box"><span>Genarate</span> </button>
                            </div>
                        </div>
                        </div>

                       
                    </div>
                </div>
                <div class="table_container">
                    <wj-flex-grid [itemsSource]="bondPaymentScheduleArr" [isReadOnly]="true" [selectionMode]="'Row'" [autoSizeMode]="'Headers'"
                        [headersVisibility]="'Column'" #settlementGrid class="grid" style="height: 350px;width:100%;">
                        <wj-flex-grid-filter [filterColumns]="['markup','paymentDate','noOfCoupons','noOfDays','principalPayment']"></wj-flex-grid-filter>
                        <wj-flex-grid-column [header]="'No. of Coupans'" [binding]="'noOfCoupons'" [minWidth]="30" [width]="'0.3*'"></wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Payment Date'" [binding]="'paymentDate'" [minWidth]="30" [width]="'0.3*'"></wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Coupon Payment'" [binding]="'markup'" [minWidth]="30" [width]="'0.3*'"></wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'No. of Days'" [binding]="'noOfDays'" [minWidth]="30" [width]="'0.3*'"></wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Principal Payment'" [binding]="'principalPayment'" [minWidth]="30" [width]="'0.3*'" ></wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Total'" [binding]="'total'" [minWidth]="30" [width]="'0.3*'" > </wj-flex-grid-column>
                    </wj-flex-grid>
                </div>
                <div class="row"></div>
                <div class="btn-group col-xs-12 align-right">
                    <!-- Paginator -->
                    <wj-collection-view-pager [cv]="settlementGrid?.collectionView"></wj-collection-view-pager>
                    <!-- page size -->
                    <wj-menu [(value)]="pageSize" [header]= "'Common.Page Size' | translate">
                        <wj-menu-item [value]="0">{{ 'Common.No Paging' | translate }}</wj-menu-item>
				        <wj-menu-item [value]="5">5 {{ 'Common.items' | translate }}</wj-menu-item>
				        <wj-menu-item [value]="10">10 {{ 'Common.items' | translate }}</wj-menu-item>
				        <wj-menu-item [value]="20">20 {{ 'Common.items' | translate }}</wj-menu-item>
				        <wj-menu-item [value]="30">30 {{ 'Common.items' | translate }}</wj-menu-item>
				        <wj-menu-item [value]="50">50 {{ 'Common.items' | translate }}</wj-menu-item>
			        	<wj-menu-item [value]="100">100 {{ 'Common.items' | translate }}</wj-menu-item>
                    </wj-menu>
                </div>
            </div>
        </section>

<dialog-cmp #dialogCmp (btnClick)="getNotification($event)"> </dialog-cmp>