<div [formGroup]="declarationFormGroup">
    <h2>AUTHORIZATION / DECLARATION</h2>

    <div class="declaration">

        I/We, the applicant, hereby affirm that the information provided in this Application Form as well as in all
        other supporting documents accompanying this Application, is correct and accurate. I/We understand and accept
        that they shall form the basis of that the Company may decide to grant me/us access to share business. I/We
        understand that by providing any false or incorrect information will result in my/our being denied account
        opening or consideration for future share business with the brokerage house.
        I/We acknowledge that the Brokerage House may approve in its sole discretion the account opening facility as
        requested. I/We also understand that submission of this Application does not guarantee that I/We will be granted
        permission for share trading through the brokerage house. I/We reserve no right to appeal against this decision
        of the Company/brokerage house.
        I/We confirm that there are no insolvency or bankruptcy proceedings against me/us, nor have I/We ever been
        adjudicated insolvent or bankrupt.
        I/We, further, affirm that I/We are familiar with the brokerage house policy, its product offered, and
        procedures and with our obligations concerning repayment of outstanding dues and mark-up amount as per schedule
        on a timely basis.
        I/We have understood the information requirements of this form and hereby, solemnly declare that the information
        provided by us in this form are true, correct, and complete to the best of our knowledge and belief. I/We
        undertake to inform you of any changes therein, immediately and to provide any further information such as
        audited financials, proof of income, details of assets that the Company may require from time to time. I/We,
        also, solemnly declare that nothing has been concealed. In case, if any of the above information is found to be
        false or untrue or misleading in any manner, I/We am/are well-aware that I/We may be held liable for it.
        I/We also confirm that I/We have read and understood the Terms and Conditions below and hereby accept the same.
        I/We understand that my/our personal information as provided/available in the company’s records will be used for
        reporting to any investigating competitive authority and/or any government owned institution like Finance and
        Revenue Ministry etc. for any purpose or whatsoever reasons. I/We shall not hold the company liable for keeping
        record of our information provided in this form.

        For Partnerships
        We the undersigned, carrying on the business in partnership, request you, until written notice from us to the
        contrary
        - To regard us as partners, and
        - To honor our respective signatures on behalf of the partnership shown below as authorized signatories for the
        partnership.
        We shall advise you any change in the constitution or authorized signatory. We hereby irrevocably declare that
        all the
        partners shall be liable to you jointly or severally on any obligations which may be standing in the name in
        your books on
        the date of receipt of such notice, and until all such obligations shall have been liquidated.

        <mat-form-field>
            <mat-label>Name of Authorized Signatory</mat-label>
            <input matInput name="authorizedSignatoryName1" formControlName="authorizedSignatoryName1" >
        </mat-form-field>

        <mat-form-field>
            <mat-label>Signature</mat-label>
            <input matInput name="signature1" formControlName="signature1" >
        </mat-form-field>

        <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput name="date" formControlName="date1" >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Signature of Authorized Person (Company’s Seal and Stamp) </mat-label>
            <input matInput name="authorizedPersonSignature" formControlName="authorizedPersonSignature" >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Thumb impression of Authorized Person </mat-label>
            <input matInput name="authorizedPersonThumbImpression" formControlName="authorizedPersonThumbImpression" >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Place</mat-label>
            <input matInput name="place" formControlName="place" >
        </mat-form-field>

    </div>
</div>