
    <section class="widget" widget="">
      <header>
        <h3>{{'Translation.Future Open Trade Migrator'| translate}}</h3>
      </header>
      <div class="widget-body">
        <form class="form-horizontal form-label-left" method="post" data-parsley-priority-enabled="false" novalidate="novalidate"
          role="form" [formGroup]="myForm">
          <div class="row wizard_data">
            <div class="col-sm-4 fields_box"> </div>
            <div class="col-sm-2 fields_box">
              <label for="search-input">{{'Translation.Transaction Type'| translate}}  <span class="validation">*</span></label>
              <wj-combo-box id="transactionType" tabindex="2" class="wijmo_style" formControlName="transactionType" [itemsSource]="traansactionTypeList"
                displayMemberPath="code" selectedValuePath="code" [isRequired]="true" [isEditable]="false">
              </wj-combo-box>
              <div *ngIf="myForm.controls['transactionType'].hasError('required')" [hidden]="myForm.controls.transactionType.valid || (myForm.controls.transactionType.pristine && !isSubmitted)"
                class="text-danger">{{'Translation.Traansaction Type'| translate}} {{'Translation.is required'| translate}}.</div>
            </div>
            <div class="col-sm-2 fields_box"> 
                <label for="status">{{'Translation.Uploading Date'| translate}}<span class="validation">*</span></label>
                <wj-input-date id="transDate" formControlName="transDate" class="wijmo_style" [(ngModel)]="transDate" 
                [showYearPicker]="false" [isRequired]="true"> </wj-input-date>

                <div *ngIf="myForm.controls['transDate'].hasError('required')" [hidden]="myForm.controls['transDate'].valid || (myForm.controls['transDate'].pristine && !isSubmitted)"
                    class="text-danger"> {{'Translation.Date'| translate}} {{'Translation.is required'| translate}}.</div>
            </div>
            <div class="col-sm-4 fields_box"> </div>

          </div>

          <div class="row wizard_data">
            <div class="col-sm-4 fields_box"> </div>
            <div class="col-sm-4 fields_box">
              <label for="fileUpload">{{'Translation.Document'| translate}} <span class="validation">*</span> </label>
              <!--<div class="fileinput fileinput-new" data-provides="fileinput">-->
              <input type="file" style="color:#f3b170" (change)="fileChangeEvent(input)" #input id="fileUpload" name="fileUpload" formControlName="fileUpload"
                accept="application/csv"  />
              <div *ngIf="fileSizeExceed" class="text-danger">{{'Translation.File size exceed. Maximum allowed size is 50MB'| translate}}.</div>
              <div *ngIf="IsFileAttached" class="text-danger">{{'Translation.Please attach a file before uploading'| translate}}.</div>
              <!--</div>-->
            </div>
            <div class="col-sm-4 fields_box"> </div>
          </div>
          <div class="row wizard_data">
            <div class="col-sm-4 fields_box"> </div>
            <div class="col-sm-4 fields_box">
              <label for="loadedRecords">{{'Translation.Loaded Record'| translate}}(s): {{loaded_records}}</label>
            </div>
            <div class="col-sm-4 fields_box"></div>
          </div>
          <div class="row wizard_data">
            <div class="col-sm-4 fields_box"> </div>
            <div class="col-sm-4  fields_box">
              <label for="errorRecords">{{'Translation.Error Record'| translate}}(s): {{error_records}}</label>
            </div>
            <div class="col-sm-4 fields_box"> </div>
          </div>
          <div class="row wizard_data">
            <div class="col-sm-4 fields_box"> </div>
            <div class="col-sm-4  fields_box">
              <!--*ngIf="userService.isAuhtorized(userService.EB_MIGRATORS_CL_HOLDING_NEW)"-->
              <button class="btn btn-success btn-rounded pull-right" (click)="btnUpload(myForm.value, myForm.valid)" type="submit"> {{'Translation.Upload'| translate}} </button>
            </div>
            <div class="col-sm-4 fields_box"> </div>
          </div>
          <div class="row wizard_data">
            <div class="col-sm-4 fields_box"> </div>
            <div class="col-sm-4 fields_box">
              <b><label>{{'Translation.Note'| translate}}:</label> </b> <label>
                {{'Translation.Note1'| translate}}.
                </label>
            </div>
            <div class="col-sm-4 fields_box"> </div>
          </div>
        </form>
      </div>
    </section>

<dialog-cmp #dialogCmp (btnClick)="getNotification($event)"> </dialog-cmp>