<swiper class="flex-auto h-32 mySwiper" [spaceBetween]="30"
        [centeredSlides]="true"
        [autoplay]="{ delay: 3500, disableOnInteraction: false }"
        [pagination]="{ clickable: true }"
        [navigation]="true">
    <!-- <ng-template swiperSlide>
        <img class="h-full w-full" src="assets/images/marlin-dashboard/Crypto-Trading.png" alt="Crypto Trading">
    </ng-template> -->
    <ng-template swiperSlide>
        <img class="h-full w-full" src="assets/images/marlin-dashboard/bond.png" alt="Real Estate Trading">
    </ng-template>
    <ng-template swiperSlide>
        <img class="h-full w-full" src="assets/images/marlin-dashboard/virtual-trading.png" alt="Vitual Trading">
    </ng-template>
    <ng-template swiperSlide>
        <img class="h-full w-full" src="assets/images/marlin-dashboard/Equities-Tradings.png" alt="Equities Trading">
    </ng-template>
    <ng-template swiperSlide>
        <img class="h-full w-full" src="assets/images/marlin-dashboard/etf-dashboard.png" alt="Commodities Trading">
    </ng-template>
</swiper>

