

<section class="widget" widget>
	<header>
		<h3><span class="fw-semi-bold">{{"Translation.Settlement Calendars" | translate}}</span></h3>
		<div class="other_btns">
			<button class="add_new_btn" id="btnNew" data-toggle="modal" (click)="onNewAction()" data-target="#add_new" type="button"
			 data-backdrop="static" title="Add Settlement Calendar" *ngIf="userService.isAuhtorized(userService.EB_SETTLEMENT_CALENDAR_NEW)"><i class="fa fa-plus" aria-hidden="true"></i>  </button>
		</div>
	</header>

	<div class="table_container">
		<wj-flex-grid [itemsSource]="settlementCalendarDetailsList" [isReadOnly]="true" [selectionMode]="'Row'" [autoSizeMode]="'Headers'"
		 [headersVisibility]="'Column'" style="height: 300px;" #flex>
			<wj-flex-grid-filter [filterColumns]="['exchange.exchangeCode', 'settlementType.settlementType','startDate','endDate','settlementDate','processed']"></wj-flex-grid-filter>
			<wj-flex-grid-column [header]="'Translation.Exchange' | translate" [align]="'left'" [binding]="'exchange.exchangeCode'" [width]="'0.3*'" [minWidth]="30"></wj-flex-grid-column>
			<wj-flex-grid-column [header]="'Translation.Settlement Type' | translate" [align]="'left'" [binding]="'settlementType.settlementType'" [width]="'0.3*'"
			 [minWidth]="30"></wj-flex-grid-column>
			<wj-flex-grid-column [header]="'Translation.From Date' | translate" [align]="'left'" [binding]="'startDate'" [width]="'0.3*'" [minWidth]="30" [format]="'yyyy-MM-dd'">
			</wj-flex-grid-column>
			<wj-flex-grid-column [header]="'Translation.To Date' | translate" [align]="'left'" [binding]="'endDate'" [width]="'0.3*'" [minWidth]="30" [format]="'yyyy-MM-dd'">
			</wj-flex-grid-column>
			<wj-flex-grid-column [header]="'Translation.Settlement Date' | translate" [align]="'left'" [binding]="'settlementDate'" [width]="'0.3*'" [minWidth]="30"
			 [format]="'yyyy-MM-dd'"> </wj-flex-grid-column>
			<wj-flex-grid-column [header]="'Translation.Processed' | translate" [binding]="'processed'" [width]="'0.2*'" [minWidth]="30"></wj-flex-grid-column>
			<wj-flex-grid-column [header]="'Translation.Action' | translate" *ngIf="userService.isAuhtorized(userService.EB_SETTLEMENT_CALENDAR_UPDATE)" [width]="'0.2*'"
			 [align]="'center'" [minWidth]="30">
				<ng-template wjFlexGridCellTemplate let-item="item" [cellType]="'Cell'">
					<!--<button *ngIf="userService.isAuhtorized(userService.EB_SETTLEMENT_CALENDAR_UPDATE) && !item.processed" id="btnEdit" class="on_edit_button"
					 role="button" (click)="onEditAction()" title="Edit"  data-target="#add_new" data-toggle="modal"
					 data-backdrop="static"> <img src="assets/img/edit_orange.png"/> </button>-->
					 <img src="assets/img/edit_orange.png" style="width: 14px; height : 14px" *ngIf="userService.isAuhtorized(userService.EB_SETTLEMENT_CALENDAR_UPDATE) && !item.processed" title="Edit" (click)="onEditAction()" data-target="#add_new" data-toggle="modal" data-backdrop="static"/>
				</ng-template>
			</wj-flex-grid-column>
		</wj-flex-grid>
	</div>
	<div class="row"></div>
	<div class="btn-group col-xs-12 align-right">
		<!-- Paginator -->
		<wj-collection-view-pager [cv]="flex?.collectionView"></wj-collection-view-pager>
		<!-- page size -->
		<wj-menu [(value)]="pageSize" [header]= "'Common.Page Size' | translate">
			<wj-menu-item [value]="0">{{ 'Common.No Paging' | translate }}</wj-menu-item>
			<wj-menu-item [value]="5">5 {{ 'Common.items' | translate }}</wj-menu-item>
			<wj-menu-item [value]="10">10 {{ 'Common.items' | translate }}</wj-menu-item>
			<wj-menu-item [value]="20">20 {{ 'Common.items' | translate }}</wj-menu-item>
			<wj-menu-item [value]="30">30 {{ 'Common.items' | translate }}</wj-menu-item>
			<wj-menu-item [value]="50">50 {{ 'Common.items' | translate }}</wj-menu-item>
			<wj-menu-item [value]="100">100 {{ 'Common.items' | translate }}</wj-menu-item>
		</wj-menu>
	</div>
</section>

<!-- Add New Bank Modal -->
<div id="add_new" class="modal fade" role="dialog" data-keyboard="true">
	<div class="modal-dialog modal-lg">

		<!-- Modal content-->
		<div class="modal-content">
			<form class="form-horizontal form-label-left" method="post" data-parsley-priority-enabled="false" novalidate="novalidate"
			 role="form" [formGroup]="myForm" (ngSubmit)="onSaveAction(myForm.value, myForm.valid)">
				<div class="modal-body modal-no-border">
					<div class="row setup_box_container">
						<div class="col-md-3 col-sm-5 modal_left">
							<div class="wizard_Logo">
								<img src="assets/img/Settlement-Calendar.png" style="width: 100px; height: 100px; margin:auto;"/>
								<h4>{{"Translation.Settlement Calendar" | translate}}</h4>
								<p>{{"Translation.Management of settlement and trading dates of financial securities" | translate}}</p>
							</div>
						</div>
						<div class="col-md-9 col-sm-7 modal_center">
							<div class="row" style="margin: 40px 40px 0px 40px">
								<div class="col-sm-4 fields_box">
									<label for="exchangeId">{{"Translation.Exchange" | translate}} <span class="validation">*</span></label>
									<wj-combo-box #exchangeId autofocus="autofocus" tabindex="3" id="exchangeId" formControlName="exchangeId" class="form-control"
									 [isEditable]="true" [itemsSource]="exchangesList" displayMemberPath="exchangeCode" selectedValuePath="exchangeId"
									 [(ngModel)]="selectedSettlementCalendar.exchange.exchangeId" [isDisabled]="isEditing" required></wj-combo-box>
									<div *ngIf="myForm.controls['exchangeId'].hasError('required')" [hidden]="myForm.controls.exchangeId.valid || (myForm.controls.exchangeId.pristine && !isSubmitted)"
									 class="text-danger">{{"Translation.Exchange" | translate}} {{"Translation.is required" | translate}}.</div>
								</div>

								<div class="col-sm-4 fields_box">
									<label for="startDate">{{"Translation.From Date" | translate}} <span class="validation">*</span></label>
									<wj-input-date #startDate [(value)]="selectedSettlementCalendar.startDate" [isDisabled]="isEditing" [format]="'yyyy-MM-dd'" required>
									</wj-input-date>
								</div>
								<div class="col-sm-4 fields_box">
									<label for="endDate">{{"Translation.To Date" | translate}} <span class="validation">*</span></label>
									<wj-input-date #endDate [(value)]="selectedSettlementCalendar.endDate" [format]="'yyyy-MM-dd'" [isDisabled]="isEditing" required>
									</wj-input-date>
								</div>

								<div class="col-sm-4 fields_box" *ngIf="isEditing">
									<label for="settlementDate">{{"Translation.Settlement Date" | translate}} <span class="validation">*</span></label>
									<wj-input-date #settlementDate [(value)]="selectedSettlementCalendar.settlementDate" [format]="'yyyy-MM-dd'" required>
									</wj-input-date>
								</div>

								<div class="col-sm-4 fields_box" *ngIf="!isEditing">
									<label for="settlementTypeId">{{"Translation.Settlement Type" | translate}}(s) <span class="validation">*</span></label>

									<wj-multi-select #stMultiSelect id="settlementTypeId" [placeholder]="'Select'"   [itemsSource]="settlementTypeList"
									 [headerFormat]="'{count} Types selected'" [displayMemberPath]="'settlementType'">
									</wj-multi-select>
								</div>
								<div class="col-sm-4 fields_box" *ngIf="isEditing">
									<label for="settlementTypeId">{{"Translation.Settlement Type" | translate}}</label>
									<wj-input-mask id="settlementTypeId" class="wijmo_style" formControlName="settlementTypeId" maxlength="30" [(ngModel)]="selectedSettlementCalendar.settlementType.settlementType"
									 myForm required [isRequired]="true" [isDisabled]="true"> </wj-input-mask>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="orange_footer_small">
					<button id="btnSave" type="submit" class="save_btn" *ngIf="!isEditing && userService.isAuhtorized(userService.EB_SETTLEMENT_CALENDAR_NEW)">{{"Common.Generate" | translate}}</button>
					<button id="btnSave1" type="submit" class="save_btn" *ngIf="isEditing && userService.isAuhtorized(userService.EB_SETTLEMENT_CALENDAR_UPDATE)">{{"Common.Update" | translate}}</button>
					<button id="btnCancel" type="button" class="cancel_btn" data-dismiss="modal" (click)="onCancelAction()">{{"Common.Cancel" | translate}}</button>
				</div>
			</form>
		</div>
	</div>
</div>
<dialog-cmp #dialogCmp (btnClick)="getNotification($event)"> </dialog-cmp>
