<h2 mat-dialog-title>AUTHORIZATION / DECLARATION</h2>

<mat-dialog-content class="mat-typography">

    <div class="row">
        <div class="col-md-12">
            <p> AND CONDITIONS
                Please read and understand the Terms and Conditions, attached herewith as Annexure A, before signing and
                executing this form.
            </p>
            <br/>
            <h4>
                DECLARATION & UNDERTAKING (INDIVIDUAL ACCOUNT)
            </h4>
            <br/>
            <br/>
            <p>
                1. I/We hereby confirms and acknowledge that I/We have received the Terms and Conditions, duly stamped,
                dated, and signed by the Compliance Officer of Participant, as an annexure to this Form at the time of
                signing of this From and have carefully read, understood, accepted and agreed to be bound by the Terms
                and Conditions for Investor Accounts contained in Chapter 12A of the Central Depository Company of
                Pakistan Limited Regulations (relevant chapter is appearing in the form) which are deemed to be part of
                this Form. I/We further declare that all the information contained in this form is true and correct to
                the best of my/our knowledge and belief and undertake to inform CDC of any changes therein immediately.
                In case any of the above information is found to be false, untrue or misleading, I/we shall be held
                liable and responsible for any consequences thereof.
                2. I/We hereby unconditionally and irrevocably agree and undertake to be bound by and to comply with the
                above attached Terms and Conditions and any other terms and conditions provided to me/us and placed on
                the website of the Participant, which may be notified from time to time with the approval of the
                concerned authorities modifying or substituting all or any of the above attached Terms and Conditions in
                connection with the opening, maintenance and operation of the Investor Account;
                3. Incase of erroneous or unauthorized transfer or credit of book-entry securities into my/our Investor
                Account, I/we hereby irrevocably and unconditionally authorize CDC to rectify such entries in terms of
                the CDC Regulations and Procedures made there under.
                4. I/We the undersigned, hereby declare that:
                a) I am an Adult.
                b) I am of sound mind.
                c) I have not applied to be adjudicated as an Insolvent and that I have not suspended payment and that I
                have not compounded with my creditors.
                d) I am not an undischarged insolvent.
                e) I have not, within 5 years before making this application for opening an Investor Account with the
                CDC, been convicted of an offence involving moral turpitude or a non-cognizable offence against any law
                in connection with business, professional or commercial activities.
                f) Incase of either (singly) or survivor operation. I or any joint holder of the account can notify CDC
                for change in address or dividend mandate or closing of account.
                g) Incase of claim of dividend in foreign exchange, I will fulfill all the formalities of State Bank of
                Pakistan in this regard.
                h) It is my/our sole responsibility to immediately inform CDC about any change in my registration
                details including any change in mailing and permanent addresses, email addresses, dividend mandate and
                contact numbers, failing which it will be assumed that my/our available information in the record of CDC
                is correct.
                i) The Terms and Conditions shall constitute a Contract between the Parties hereto and govern opening,
                maintenance and operations of Investor Account which shall be binding on the IAS Account Holder as well
                as the Participant and sharing of UIN and KYC information to/from NCCPL and ancillary matters connected
                therewith;
                5. I/We hereby agree to receive Electronic Account Balance Statement (eStatement), eAlert and SMS Alert
                from CDC from time to time in respect of my/our Investor Account on my/our email address and or Mobile
                No. respectively provided to CDC. In case, if I/We wish to receive Account Balance Statement in Physical
                form or do not wish to receive any one service either eAlert or SMS alert, I/we hereby undertake to
                inform CDC in writing.
                6. I/We hereby irrevocably and unconditionally authorize CDC to provide copies of my /our account
                opening documents as available in the record of CDC to the Clearing Company or any other relevant
                authority or entity with respect to my/our Investor Account with CDC and securities transactions made
                therein as deemed necessary from time to time.
                7. I/We hereby acknowledge and agree to abide by the CDC Regulations and Procedures as available on
                CDC’s website and I/we shall keep myself/ourself(ves) updated with regard to any revisions in such
                Regulations and Procedures.
                8. I/We hereby unconditionally and irrevocably agree to be bound by and comply with the Terms and
                Conditions in connection with CDCaccess available on CDC website.
                9. My/Our use of the CDCacess will signify my/our consent and agreement to be bound by the CDC
                Regulations and Procedures and Terms and Conditions of CDCaccess as the same exist at the time of such
                use.
                10. I/We hereby unconditionally & irrevocably agree and acknowledges that CDC shall have, among other
                rights, a paramount lien on the Securities in the Investor Accounts in accordance with CDC Regulation
                12A.10 for recovery of charges and deposits including any applicable levy, taxes etc. of CDC,
                Centralized Know-Your Customer Organization, Clearing Company or any other institution or governmental
                department or authority.
                I, the undersigned as Participant, hereby declare/undertake/confirm that:
                a) I have provided in full the Terms and Conditions attached as an Annexure to this Form to the Investor
                Account Holder at the time of filing of this Form and I hereby further confirm that provided Terms and
                Conditions are available on our website and update the same immediately upon occurrence of any change in
                Terms and Conditions. I further confirm that IAS Account of Investor Account Holder shall be
                activated/opened only upon affirmation of the Terms and Conditions by the IAS Account Holder; and
                b) I have no doubt or concern that the Terms and Conditions shared with Investor Account Holder by us
                are not updated and has any difference when compared with the specified Terms and Conditions and the
                attached Terms and Conditions also form part of this Form.
            </p>
            <br/>
            <br/>


            <H4>DISCLAIMER FOR CDC ACCESS SERVICE</H4>
            <br/>
            <br/>

            <p>
                by the Central Depository Company of Pakistan Limited (hereinafter referred to as “CDC” which term shall
                mean to include the corporate entity, board of directors, officers, employees, assigns and agents of
                CDC) offers Investor-Account Holders:
                (i) access to information, reports, account balance statements and account maintenance services (each
                and collectively “Information Services”) through the Interactive Voice Response System, internet/ web
                access, eStatement (account balance statements sent through emails), eAlert (transaction alerts sent
                through email) and short messaging service (“SMS”) or any other medium of communication, as may be
                introduced by CDC from time to time (each and collectively a “mode of communication”); and
                (ii) ability to submit earmarking instructions for DSS (“DSS”) and online transaction orders for
                transferring securities to other accounts as prescribed by CDC from time to time, (an “Online
                Transaction Order”) through the internet/web portal of CDCaccess or any other transaction related
                service that may be introduced by CDC from time to time (each and collectively “Online Transaction
                Services”).
                CDC makes no representation or warranty for any Information Service, Online Transaction Service or of
                any mode of communication used in CDCaccess and the Investor-Account Holder hereby unconditionally
                agrees that they shall make use of CDCaccess for the purposes of any Information Service or Online
                Transaction Service through a mode of communication subject to all hazards and circumstances as exist
                with the use of such modes of communication and their networks including, but not limited to, delays in
                communication and uploading of data/information.
                CDC shall not be held liable for any improper or incorrect use of CDCaccess or any Information Service
                or Online Transaction Service through any mode of communication by the Investor-Account Holder and
                although the information thus provided or any transactions thereby submitted is intended for
                Investor-Account Holders, CDC assumes no responsibility for any third party's use of information
                obtained from or benefit taken from any transaction submitted in CDCaccess and or/ unauthorised
                dissemination or disclosure of any information or the failure to complete any transaction.
                CDC shall not be liable to any Investor-Account Holder for providing and making available CDCaccess, the
                Information Services or Online Transaction Services and/or for failure or delay in the provision of such
                services to Investor-Account Holders and all Investor-Account Holders, who subscribe to CDCaccess by
                using a mode of communication shall be deemed to have indemnified CDC held them harmless from and
                against any losses, damages, costs and expenses incurred or suffered by them as a consequence of use of
                CDCaccess, the Information Services, Online Transaction Services or any other value added services.
                Additionally, CDC shall not be held responsible for and does not undertake liability for any damages or
                injury, including but not limited to those caused by any failure of performance, error, omission,
                interruption, deletion, defect, delay in operation or transmission, computer virus, communication line
                failure, theft or destruction and/ or unauthorized access to, alteration of, or use of Information
                Services or Online Transaction Services in CDCaccess by any individual or corporate person.
                All Investor-Account Holders hereby warrant and agree that their access of CDCaccess via the
                internet/web by use of a User-ID login, is using an advanced electronic signature and upon issuance of
                such User-ID login to Investor-Account Holders, they hereby waive any right to raise any objection to
                the compliance of the User-ID login with the criteria of an advance electronic signature.
                All Investor-Account Holders shall by their conduct of accessing or, as the case may be, using a mode of
                communication for CDCaccess agrees to all the terms and conditions and terms of use as shall appear on
                the CDC website at www.cdcaccess.com.pk from time to time (these “Terms and Conditions”) which shall be
                deemed to have been read and agreed to by the Investor-Account Holders before using or availing
                CDCaccess.

            </p>
            <br/>
            <br/>


            <h4>TERMS AND CONDITIONS </h4>
            <br/>
            <br/>

            <h4>
                Please read and understand the Terms and Conditions before signing and executing this form

                These Terms and Conditions shall constitute a Contract between the Parties hereto. This Contract shall
                govern opening, maintenance and operations of Trading Account, CDC Sub-Account(s) and sharing of UIN and
                KYC information to/from NCCPL and ancillary matters connected therewith.

                GENERAL TERMS AND CONDITIONS
            </h4>
            <br/>
            <br/>

            <p>
                1. All Trades, Transactions, including non-Exchange Transactions, Derivative Contracts and deals
                (jointly referred to as “Transactions”) between the Parties and Clearing and Settlement thereof and
                opening, maintenance and operations of Sub-Account in the CDS shall be subject to the Securities Act,
                2015, Central Depositories Act, 1997, Pakistan Stock Exchange Limited (PSX) Regulations, Central
                Depository Company of Pakistan Limited (CDC) Regulations, CKO Regulations, 2017, National Clearing
                Company of Pakistan Limited (NCCPL) Regulations and the Securities Brokers (Licensing and Operations)
                Regulation, 2016 including Procedures, Manuals, Polices, Guidelines, Circulars, Directives, and
                Notifications issued and as amended) thereunder by the Securities and Exchange Commission of Pakistan
                (SECP), PSX, CDC or NCCPL from time to time.
                2. The information provided in KYC application form and/or CRF shall be in addition to and not in
                derogation of the requirements prescribed under Anti-Money Laundering and Countering Financing of
                Terrorism Regulations, 2018.
                3. The Securities Broker/Participant shall ensure provision of copies of all the relevant laws, rules
                and regulations at its office for access to the Sub-Account Holder(s)/Customer(s) during working hours.
                The Securities Broker/Participant shall ensure that its website contains hyperlinks to the
                websites/pages on the website of PSX, CDC, NCCPL and the SECP displaying above said regulatory framework
                for reference of the Customers.
                4. In case of a Joint Account, all obligations and liabilities of the Applicants under these Terms and
                Conditions shall be joint and several.
                5. These Terms and Conditions shall be binding on the nominee, legal representative, successors in
                interest and/or permitted assigns of the respective Parties hereto.
                6. The Securities Broker/Participant shall provide a list of its Registered Offices and Representatives
                authorized and employees designated to deal with the Sub-Account Holder(s)/Customer(s) along with their
                authorized mobile/landline/fax number(s), email and registered addresses. Any change(s) therein shall be
                intimated in writing to the Sub-Account Holder(s)/Customer(s) with immediate effect.
                7. Subject to applicable laws, the Securities Broker/Participant shall maintain strict confidentiality
                of the Customer related information and shall not disclose the same to any third party. However, in case
                the SECP, PSX, CDC or any competent authority under the law, as the case may be, requires any such
                information, the Securities Broker/ Participant shall be obliged to disclose the same for which the
                Customer shall not raise any objection whatsoever.
                8. The Securities Broker/Participant shall independently verify any of the Customer’s related
                information provided in this Form and under the relevant laws, rules and regulations for the purpose of
                KYC.
                9. In case of any change in the Customer’s related information provided in this Form, the Customer shall
                provide necessary details to the Participant/Securities Broker. Upon receipt of instruction from the
                Customer, the Participant/Securities Broker shall give effect to such changes in the manner prescribed
                under the relevant regulations. The Participant/Securities Broker shall have the right to incorporate
                any change(s) in the Sub-Account Holder(s)/Customer’s information in the CDS as sent by NCCPL as CKO and
                that such change(s) shall be deemed to have been authorized by the Sub-Account Holder(s)/Customer(s). In
                case of any change in the Participant’s/Securities Broker’s address or contact numbers or any other
                related information, the Securities Broker/Participant shall immediately notify the Sub-Account
                Holder(s)/Customer(s).
                10. Any change in this Form or these Terms and Conditions by virtue of any changes in the aforesaid
                legal frameworks shall be deemed to have been incorporated and modified the rights and duties of the
                Parties hereto. Such change(s) shall be immediately communicated by the Securities Broker/Participant to
                the Sub-Account Holder(s)/Customer(s).
                11. The Securities Broker/Participant and the Customer shall be entitled to terminate this Contract
                without giving any reasons to each other after giving notice in writing of not less than one month to
                the other Party. Notwithstanding any such termination, all rights, liabilities and obligations of the
                Parties arising out of or in respect of Transactions entered into prior to the termination of this
                Contract shall continue to subsist and vest in /be binding on the respective Parties or his /her/ its
                respective heirs, executors, administrators, legal representatives or successors in interest and
                permissible assigns, as the case may be. Closure of Sub-Account of the Customer under this clause shall
                be subject to the condition that neither any corporate action is pend¬ing at that point of time in
                connection with any Book entry Securities in the Sub-Account nor any Book-Entry Securities are in
                Pledged Position and that the outstanding dues, if any, payable by any Party to the other Party is
                cleared and that the Customer has transferred or withdrawn all the Book-Entry Securities from his/her
                Sub-Account.
                12. Where applicable, the terms “Sub-Account Holder” and “Participant” used in this Form shall include
                the “Customer” and “Securities Broker/TRE Certificate Holder” respectively.
                13. The Securities Broker/Participant should ensure due protection to the Sub-Account Holder / Customer
                regarding rights to dividend, rights or bonus shares etc. in respect of transactions routed through it
                and not do anything which is likely to harm the interest of the Sub-Account Holder with/from whom it may
                have had transactions in securities.
                14. The Participant/Securities Broker shall ensure that duly filled in and signed copy of this form
                along with the acknowledgement receipt is provided to the Sub-Account Holder.
            </p>
            <br/>
            <br/>

            <h4> TERMS AND CONDITIONS FOR OPENING AND OPERATIONS OF CDC SUB-ACCOUNT</h4>
            <br/>
            <br/>

            <p>
                The Terms and Conditions set herein below shall govern the Sub-Account forming part of the Account
                Family of the CDS Participant Account of the Participant, which shall be binding on the Sub-Account
                Holder as well as the Participant:
                1. The Registration Details and such other information specified by the Applicant in this form for
                opening of the Sub-Account shall appear in the Sub-Account to be established by the Participant in the
                CDS who shall ensure the correctness and completeness of the same.
                2. The Book-entry Securities owned by the Sub-Account Holder shall be exclusively entered in the
                Sub-Account of such Sub-Account Holder.
                3. Transfer, Pledge and Withdrawal of Book-entry Securities entered in the Sub-Account of the
                Sub-Account Holder shall only be made from time to time in accordance with the authorization given by
                the Sub-Account Holder to the Participant in Part (E) above pursuant to Section 12 and 24 of the Central
                Depositories Act, 1997. Such authorization shall constitutes the congregated / entire authorizations by
                the Sub-Account Holder(s) in favour of the Participant and supersedes and cancels all prior
                authorizations (oral, written or electronic) including any different, conflicting or additional terms
                which appear on any agreement or form the Sub-Account Holder(s) has executed in favour of the
                Participant.
                4. Participant shall be liable to give due and timely effect to the instructions of the Sub-Account
                Holder given in terms of the above-referred authorization with respect to transfer, pledge and
                withdrawal of Book-entry Securities entered in his/her Sub-Account under the control of the Participant.
                Such instructions, among other matters, may include closing of Sub-Account.
                5. Participant shall send within 10 days of end of each quarter Account Balance statement to the
                Sub-Account Holder without any fee or charge showing the number of every Book-entry Security entered in
                his/her Sub-Account as of the end of the preceding quarter. Such Account Balance statement shall be
                generated from the CDS. Further, the Sub-Account Holder may request for such statement (including
                Account Activity reports) from the Participant at any time on payment of a fee on cost basis as
                prescribed by the Participant. The Participant shall be liable to provide such report/statement to the
                Sub-Account Holder within 3 Business Days from the date of receipt of such request, with or without
                charges.
                6. In consideration for the facilities and services provided to the Sub-Account Holder by the
                Participant, the Sub-Account Holder shall pay fees and charges to the Participant as applicable for
                availing such facilities and services under the Central Depositories Act, 1997, the Regulations and
                these Terms & Conditions. In case of outstanding payment against any underlying market purchase
                transaction, charges and/or losses against the Sub-Account Holder, the Participant shall have the right,
                subject to Clause 3 above and under prior intimation to the Sub-Account Holder to clear the payment,
                charges and/or losses (including any shortfall in margin requirements) within the reasonable time
                prescribed by the Participant, to dispose off the necessary number of Book-entry Securities of the
                Sub-Account Holder through market-based or Negotiated Deal Market sell transaction and apply the net
                proceeds thereof towards the adjustment of such outstanding payment, charges and/or losses.
                7. Where admission of Participant to the CDS is suspended or terminated by the CDC, the Sub-Account
                Holder shall have the right, subject to the Regulations and the Procedures made thereunder, to request
                CDC to change his/her Controlling Account Holder and Participant shall extend full cooperation to the
                Sub-Account Holder in every regard, without prejudice to its right of recovery of any dues or receivable
                from the Sub-Account Holder.
                8. The provision of services as provided for hereunder shall not constitute Participant as trustee and
                the Participant shall have no trust or other obligation in respect of the Book-entry Securities except
                as agreed by the Participant separately in writing.
                9. The Participant is not acting under this application form as Investment Manager or Investment Advisor
                to the Sub-Account Holder(s).
            </p>
            <br/>
            <br/>

            <h4>
                TERMS AND CONDITIONS FOR TRADING ACCOUNT
            </h4>
            <br/>
            <br/>

            <p>
                1. In case any dispute in connection with the Transaction between the Securities Broker and the Customer
                is not settled amicably, either Party may refer the same to the Arbitration in accordance with the
                arbitration procedures prescribed in PSX Regulations. The decision of arbitrators shall be binding on
                both the Parties subject to their rights of appeal in the manner provided in PSX Regulations, if
                exercised. The name and other relevant particulars of the Customer shall be placed on PSX’s website
                accessible to Securities Brokers if the Customer fails or refuses to abide by or carryout any
                arbitration award passed against him/her and the Customer shall have no objection to the same.
                2. The assets deposited as margin by a Customer with the Securities Broker shall only be used by the
                Securities Broker for the purposes of dealing in securities through PSX on behalf of such Customer other
                than as authorized by the Customer in writing in the manner prescribed under the relevant regulations.
                3. The Securities Broker may deposit unutilized funds of the Customers in a separate profit-bearing bank
                account and shall distribute profit to the Customers out of total profit offered by bank(s) on such
                funds, unless specified otherwise in writing by the Customer.
                4. The Securities Broker shall be authorized to act on the instructions of the Customers given through
                any of the following modes of communication unless specifically designated by the Customer in the Form:
                a. Telephonic communication over a dedicated telephone line(s) routed through centralized call recording
                system;
                b. Email/SMS/Fax/Letter on the authorized email address/mobile/fax/address of the Securities Brokers;
                c. Verbal orders placed through personal appearance in the registered office subject to receipt of
                written acknowledgement of such in-person orders by Securities Brokers.
                5. The Securities Broker shall make out the Contract Note (physical or electronic form) to the Customers
                in respect of trades executed on their behalf based on their order instructions not later than the start
                of next trading day as required under the Securities Brokers (Licensing and Operations) Regulations,
                2016 through any of the following acceptable modes of communication unless specifically designated by
                the Customer in the Form:
                (a) Recognized courier service;
                (b) Registered Post at given correspondence address;
                (c) Facsimile number provided on the Form;
                (d) By hand subject to receipt/acknowledgement; or
                (e) Email provided on the Form in case of Electronic Contract Note.
                All such transactions recorded by the Securities Broker in the prescribed manner shall be conclusive and
                binding upon the Customer unless the Customer raises observation relating to unauthorized execution of
                such transaction or any error in the Contract Note within one trading day of the receipt of such
                Contract Note.
                In the event of any dispute relating to order placement or executing of orders, the burden of proof
                shall be on the Securities Brokers to establish the authenticity of such order placement or execution
                thereof.
                6. In case the Customer fails to deposit additional margins within one trading day of the margin call
                (in writing), the Securities Broker shall have absolute discretion to liquidate the Customer’s
                outstanding positions including the securities purchased and carried in such account to meet the margin
                shortfall without further notice to the Customer.
                7. The Securities Broker shall be responsible for the payment of any credit cash balance available in
                the account of the Customer through cross cheques or other banking channels (instruments) only within
                one (1) trading day of the request of the Customer subject to the maintenance of the margin
                requirements.
                8. The Customer is aware that in the event of his/her non- payment on settlement day against securities
                bought on his/her account, the Securities Broker may transfer such securities to its Collateral Account
                under intimation to PSX in the manner as provided in PSX Regulations.
                9. The Securities Broker shall accept from the Customer payments through "A/c Payee Only" crossed
                cheque, bank drafts, pay orders or other banking channels drawn on Customer’s own bank account in case
                of amounts in excess of Rs. 25,000/-. Electronic transfer of funds to the Securities Broker through
                banks would be regarded as good as cheque. The Securities Broker shall provide the receipt to the
                Customer(s) in the name of the Customers duly signed by its authorized employee and the Customer(s)
                shall be responsible to obtain the receipt thereof. In case of cash dealings, proper receipt will be
                taken and given to the Customer(s), specifically mentioning if payment is for margin or the purchase of
                securities. The Securities Broker shall immediately deposit in its bank account all cash received in
                whole i.e. no payments shall be made from the cash received from clients. However, in exceptional
                circumstances, where it becomes necessary for Securities Broker to accept cash in excess of Rs.25,000/-,
                the Securities Broker shall immediately report within one trading day such instances with rationale
                thereof to the PSX in accordance with the mechanism prescribed by PSX.
                10. The Securities Brokers shall make all payments to the Customers through crossed cheques / bank
                drafts / pay orders or any other banking channels showing payment of amount from their business bank
                account. Copies of these payment instruments including cheques, pay orders, demand drafts and online
                instructions shall be kept in record for a minimum period prescribed under the Securities Brokers
                (Licensing and Operations) Regulations, 2016.
                11. The Securities Broker shall provide to the Customers a quarterly Account Statement which shall
                include cash and securities ledgers as back office and CDC Sub-Account records along with reconciliation
                of any differences therein through any of the aforesaid modes of communication. In case of any
                discrepancy in the ledger statement, the Customer shall inform the Securities Broker within seven (7)
                days of receipt of the quarterly account statement to remove such discrepancy. Further, the Securities
                Broker shall provide to a Customer an Account Statement for a period specified by the Customer as and
                when requested by such Customer.
                12. The Customer shall pay all applicable taxes and statutory and regulatory fee and levies and
                brokerage commissions as are prevailing from time to time in connection with the brokerage services
                rendered. The Securities Broker/Participant can debit up to the accrued amount of levies and charges the
                account of the Customers for the abovementioned charges, which shall be clearly detailed in the ledger
                statement/daily confirmations. Any change resulting in an increase in the brokerage commission shall
                take effect not earlier than five (5) trading days of intimation of the same to the Customers through
                acceptable mode of communication prescribed in the Form.
                The Securities Broker shall append a Risk Disclosure Document with this Form in accordance with the
                specimen provided b
            </p>
            <br/>
            <br/>
        </div>
    </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-flat-button [color]="'primary'" [mat-dialog-close]="true" cdkFocusInitial>Okay</button>
</mat-dialog-actions>
