
<!--<div class="row">
  <div class="col-lg-12 col-xs-12">-->
<section class="widget" widget="">
  <header>
    <h3><span class="fw-semi-bold">{{ 'Menu.Agent' | translate }}</span></h3>
    <div class="other_btns">
      <button *ngIf="userService.isAuhtorized(userService.EB_CONF_AGENT_NEW)" class="add_new_btn" id="btnNew" data-toggle="modal"
        (click)="onNewAction()" data-target="#add_new" type="button" data-backdrop="static" title="{{ 'Translation.Add' | translate }}"><i class="fa fa-plus" aria-hidden="true"></i> </button>
    </div>
    <!--<div class="widget-controls">
      <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
      <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
    </div>-->
  </header>
  <div class="table_container">
    <wj-flex-grid class="grid" [isReadOnly]="true" [itemsSource]="itemsList"  [selectionMode]="'Row'" [autoSizeMode]="'Headers'"
      [headersVisibility]="'Column'" style="height: 350px;" #flex>
      <wj-flex-grid-filter [filterColumns]="['contactDetail.fullName', 'agentCode','commissionTypeDisplay_', 'commissionRate', 'active']"></wj-flex-grid-filter>
      <wj-flex-grid-column [header]="'Translation.Name' | translate" [align]="'left'" [binding]="'contactDetail.fullName'" [width]="'0.7*'"></wj-flex-grid-column>
      <wj-flex-grid-column [header]="'Translation.Code' | translate" [align]="'left'" [binding]="'agentCode'" [width]="'0.6*'"></wj-flex-grid-column>
      <wj-flex-grid-column [header]="'Translation.Commission Type' | translate" [align]="'left'" [binding]="'commissionTypeDisplay_'" [width]="'0.5*'"></wj-flex-grid-column>
      <wj-flex-grid-column [header]="'Translation.Commission Rate' | translate" [align]="'right'" [binding]="'commissionRate'" [format]="'n4'" [width]="'0.4*'"></wj-flex-grid-column>
      <wj-flex-grid-column [header]="'Common.Active' | translate" [binding]="'active'" [width]="'0.4*'"></wj-flex-grid-column>
      <wj-flex-grid-column [header]="'Common.Action' | translate" [width]="'0.2*'" [minWidth]="30" [align]="'center'" *ngIf="userService.isAuhtorized(userService.EB_CONF_AGENT_UPDATE)">
        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
          <img src="assets/img/edit_orange.png" class="gridImg"
           title="Edit" (click)="onEditAction()" data-target="#add_new" data-toggle="modal" data-backdrop="static"
          />
          <!--<button id="btnEdit" class="on_edit_button" role="button" (click)="onEditAction()" title="Edit" data-target="#add_new" data-toggle="modal"
            data-backdrop="static"> <img src="assets/img/edit_orange.png"/> </button>-->

        </ng-template>
      </wj-flex-grid-column>
    </wj-flex-grid>

  </div>
  <div class="row"></div>
  <div class="btn-group col-xs-12 align-right">
    <!-- Paginator -->
    <wj-collection-view-pager [cv]="flex?.collectionView"></wj-collection-view-pager>
    <!-- page size -->
    <wj-menu [(value)]="pageSize" [header]="'Common.Page Size' | translate">
			<wj-menu-item [value]="0">{{ 'Common.No Paging' | translate }}</wj-menu-item>
			<wj-menu-item [value]="5">5 {{ 'Common.items' | translate }}</wj-menu-item>
			<wj-menu-item [value]="10">10 {{ 'Common.items' | translate }}</wj-menu-item>
			<wj-menu-item [value]="20">20 {{ 'Common.items' | translate }}</wj-menu-item>
			<wj-menu-item [value]="30">30 {{ 'Common.items' | translate }}</wj-menu-item>
			<wj-menu-item [value]="50">50 {{ 'Common.items' | translate }}</wj-menu-item>
			<wj-menu-item [value]="100">100 {{ 'Common.items' | translate }}</wj-menu-item>
		  </wj-menu>
  </div>
</section>
<!--</div>
</div>-->

<!-- Modal -->
<div id="add_new" class="modal fade" role="dialog" data-keyboard="true">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <!--<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="onCancelAction()">&times;</button>
        <h4 class="modal-title">Agent</h4>
      </div>-->

      <form class="form-horizontal form-label-left parsleyjs" [formGroup]="myForm" (ngSubmit)="onSaveAction(myForm.value, myForm.valid)"
        data-parsley-priority-enabled="false" novalidate="novalidate">
        <div class="modal-body modal-no-border">


          <div class="row setup_box_container">
            <div class="col-md-2 col-sm-5 modal_left">
              <div class="wizard_Logo">
                <img src="assets/img/Agent.png" class="formImg"/>
                <h4>{{ 'Menu.Agent' | translate }}</h4>
                <p>{{ 'Translation.Management of agents, commission structure & configurations' | translate }}</p>
              </div>
            </div>
            <div class="col-md-10 col-sm-7 modal_center">
              <div class="row" style="margin: 40px 40px 0px 40px">



                <div class="col-sm-6 fields_box">
                  <label for="search-input">{{ 'Translation.Code' | translate }}  <span class="validation">*</span></label>
                  <wj-input-mask #agentCode class="wijmo_style" autofocus="autofocus" id="agentCode" formControlName="agentCode"
                    maxlength="20" [(ngModel)]="selectedItem.agentCode" required [isRequired]="true"> </wj-input-mask>
                  <div *ngIf="myForm.controls['agentCode'].hasError('required')" [hidden]="myForm.controls.agentCode.valid || (myForm.controls.agentCode.pristine && !isSubmitted)"
                    class="text-danger">{{ 'Translation.Code' | translate }} {{ 'Translation.is required' | translate }}.</div>
                  <div *ngIf="myForm.controls['agentCode'].hasError('pattern')" class="text-danger">{{ 'Translation.Invalid' | translate }} {{ 'Translation.Code' | translate }}.</div>
                </div>
                <div class="col-sm-6 fields_box">
                  <label for="search-input">{{ 'Translation.Commission Type' | translate }}  <span class="validation">*</span></label>
                  <div class="abc-radio mr-2">
                    <input type="radio" name="commissionType" (click)="onCommissionTypeChangeEvent('P')" value="P" id="commissionTypeP"
                      [(ngModel)]="selectedItem.commissionType" [ngModelOptions]="{standalone: true}">
                    <label for="commissionTypeP">
                      {{ 'Translation.Percentage' | translate }}
                  </label>
                  </div>
                  <div class="abc-radio">
                    <input type="radio" name="commissionType" [(ngModel)]="selectedItem.commissionType" [ngModelOptions]="{standalone: true}"
                      (click)="onCommissionTypeChangeEvent('F')" value="F" id="commissionTypeF">
                    <label for="commissionTypeF">
                      {{ 'Translation.Fixed' | translate }}
                  </label>
                  </div>
                </div>
                <div class="col-sm-6 fields_box">
                  <label for="search-input">{{ 'Translation.Commission Rate' | translate }} ({{overAll_perShare}}) <span class="validation">*</span></label>
                  <wj-input-number class="wijmo_style" #commissionRate required [isRequired]="true" id="commissionRate" formControlName="commissionRate"
                     [format]="'n4'" [max]="maxValue" [min]="minValue" [(ngModel)]="selectedItem.commissionRate">
                  </wj-input-number>
                  <div *ngIf="myForm.controls['commissionRate'].hasError('required')" [hidden]="myForm.controls.commissionRate.valid || (myForm.controls.commissionRate.pristine && !isSubmitted)"
                    class="text-danger">{{ 'Translation.Commission Rate' | translate }} {{ 'Translation.is required' | translate }}.</div>
                  <!--<div *ngIf="myForm.controls['commissionRate'].hasError('pattern')" class="text-danger">{{ 'Translation.Invalid' | translate }} Commission Rate.</div>-->
                </div>
                <div class="col-sm-6 fields_box">
                  <label for="search-input">{{ 'Translation.Type' | translate }}  <span class="validation">*</span></label>
                  <wj-combo-box class="wijmo_style" id="agentType" formControlName="agentType" [isEditable]="true" [itemsSource]="agentTypeList"
                    displayMemberPath="name" selectedValuePath="code" (ngModelChange)="onAgentTypeChangeEvent($event)" [(ngModel)]="selectedItem.agentType"
                    [isRequired]="true"></wj-combo-box>
                  <div *ngIf="myForm.controls['agentType'].hasError('required')" [hidden]="myForm.controls.agentType.valid || (myForm.controls.agentType.pristine && !isSubmitted)"
                    class="text-danger">{{ 'Translation.Type' | translate }} {{ 'Translation.is required' | translate }}.</div>
                  <div *ngIf="myForm.controls['agentType'].hasError('pattern')" class="text-danger">{{ 'Translation.Invalid' | translate }} {{ 'Translation.Type' | translate }}.</div>
                </div>
                <div class="col-sm-6 fields_box">
                  <label for="search-input">{{ 'Translation.Participant Branch' | translate }}  <span class="validation">*</span></label>
                  <wj-combo-box class="wijmo_style" id="branchId" formControlName="branchId" [isEditable]="true" [itemsSource]="participantBranchList"
                    displayMemberPath="branchCode" selectedValuePath="branchId" [(ngModel)]="selectedItem.branchId" [isRequired]="true"></wj-combo-box>
                  <div *ngIf="myForm.controls['branchId'].hasError('required')" [hidden]="myForm.controls.branchId.valid || (myForm.controls.branchId.pristine && !isSubmitted)"
                    class="text-danger">{{ 'Translation.Participant Branch' | translate }} {{ 'Translation.is required' | translate }}.</div>
                </div>
                <div class="col-sm-6 fields_box">
                  <label for="search-input" style="height:15px;"></label>
                  <div class="abc-checkbox abc-checkbox-primary">
                    <input type="checkbox" [(ngModel)]="selectedItem.active" id="active" formControlName="active">
                    <label for="active">
                    Active
                  </label>
                  </div>
                </div>

              </div>

              <div class="row" style="margin: 40px 40px 0px 40px" *ngIf="showIndividual">
                <h3>{{ 'Translation.Individual Agent' | translate }}</h3>
                <div class="col-sm-12"></div>

                <div class="col-sm-6 fields_box">
                  <label for="search-input">{{ 'Translation.First Name' | translate }}  <span class="validation">*</span></label>
                  <wj-input-mask class="wijmo_style"  id="firstName" formControlName="firstName" maxlength="30" [(ngModel)]="selectedItem.contactDetail.firstName"
                    required [isRequired]="true"> </wj-input-mask>
                  <div *ngIf="myForm.controls['firstName'].hasError('required')" [hidden]="myForm.controls.firstName.valid || (myForm.controls.firstName.pristine && !isSubmitted)"
                    class="text-danger">{{ 'Translation.First Name' | translate }} {{ 'Translation.is required' | translate }}.</div>
                  <div *ngIf="myForm.controls['firstName'].hasError('pattern')" class="text-danger">{{ 'Translation.Invalid' | translate }} {{ 'Translation.First Name' | translate }}</div>
                </div>
                <div class="col-sm-6 fields_box">
                  <label for="search-input">{{ 'Translation.Middle Name' | translate }}</label>
                  <wj-input-mask class="wijmo_style" id="middleName" formControlName="middleName" maxlength="30" [(ngModel)]="selectedItem.contactDetail.middleName">
                  </wj-input-mask>
                  <div *ngIf="myForm.controls['middleName'].hasError('pattern')" class="text-danger">{{ 'Translation.Invalid' | translate }} {{ 'Translation.Middle Name' | translate }}.</div>
                </div>
                <div class="col-sm-6 fields_box">
                  <label for="search-input">{{ 'Translation.Last Name' | translate }}  <span class="validation">*</span></label>
                  <wj-input-mask class="wijmo_style"  id="lastName" formControlName="lastName" maxlength="30" [(ngModel)]="selectedItem.contactDetail.lastName"
                    required [isRequired]="true"> </wj-input-mask>
                  <div *ngIf="myForm.controls['lastName'].hasError('required')" [hidden]="myForm.controls.lastName.valid || (myForm.controls.lastName.pristine && !isSubmitted)"
                    class="text-danger">{{ 'Translation.Last Name' | translate }} {{ 'Translation.is required' | translate }}.</div>
                  <div *ngIf="myForm.controls['lastName'].hasError('pattern')" class="text-danger">{{ 'Translation.Invalid' | translate }} {{ 'Translation.Last Name' | translate }}</div>
                </div>
                <div class="col-sm-6 fields_box">
                  <label for="search-input">{{ 'Translation.Father/Husband Name' | translate }} </label>
                  <wj-input-mask class="wijmo_style"  id="fatherHusbandName" formControlName="fatherHusbandName" maxlength="30"
                    [(ngModel)]="selectedItem.contactDetail.fatherHusbandName"> </wj-input-mask>
                  <div *ngIf="myForm.controls['fatherHusbandName'].hasError('pattern')" class="text-danger">{{ 'Translation.Invalid' | translate }} {{ 'Translation.Father/Husband Name' | translate }}.</div>
                </div>
                <div class="col-sm-6 fields_box">
                  <label for="search-input">{{ 'Translation.Gender' | translate }} <span class="validation">*</span></label>
                  <wj-combo-box class="wijmo_style"  id="gender" formControlName="gender" [isEditable]="true" [itemsSource]="genderList"
                    displayMemberPath="name" selectedValuePath="code" [(ngModel)]="selectedItem.contactDetail.gender" [isRequired]="true"></wj-combo-box>
                  <div *ngIf="myForm.controls['gender'].hasError('required')" [hidden]="myForm.controls.gender.valid || (myForm.controls.gender.pristine && !isSubmitted)"
                    class="text-danger">{{ 'Translation.Gender' | translate }} {{ 'Translation.is required' | translate }}.</div>
                </div>
                <div class="col-sm-6 fields_box">
                  <label for="search-input">Identification Type  <span class="validation">*</span></label>
                  <wj-combo-box class="wijmo_style"  id="identificationTypeId" formControlName="identificationTypeId" [isEditable]="true"
                    [itemsSource]="identificationTypeList" displayMemberPath="identificationType" selectedValuePath="identificationTypeId"
                    [(ngModel)]="selectedItem.contactDetail.identificationTypeId" [isRequired]="true"></wj-combo-box>
                  <div *ngIf="myForm.controls['identificationTypeId'].hasError('required')" [hidden]="myForm.controls.identificationTypeId.valid || (myForm.controls.identificationTypeId.pristine && !isSubmitted)"
                    class="text-danger">Identification Type {{ 'Translation.is required' | translate }}.</div>
                </div>
                <div class="col-sm-6 fields_box">
                  <label for="search-input">{{ 'Translation.Identification Number' | translate }}  <span class="validation">*</span></label>
                  <wj-input-mask class="wijmo_style"  id="identificationType" formControlName="identificationType" maxlength="50"
                    [(ngModel)]="selectedItem.contactDetail.identificationType" required [isRequired]="true"> </wj-input-mask>
                  <div *ngIf="myForm.controls['identificationType'].hasError('required')" [hidden]="myForm.controls.identificationType.valid || (myForm.controls.identificationType.pristine && !isSubmitted)"
                    class="text-danger">{{ 'Translation.Identification Number' | translate }} {{ 'Translation.is required' | translate }}.</div>
                  <div *ngIf="myForm.controls['identificationType'].hasError('pattern')" class="text-danger">{{ 'Translation.Invalid' | translate }} {{ 'Translation.Identification Number' | translate }}</div>
                </div>
                <div class="col-sm-6 fields_box">
                  <label for="search-input">{{ 'Translation.Date of Birth' | translate }}  <span class="validation"></span></label>
                  <wj-input-date id="dob" [showYearPicker]="false" formControlName="dob" max="{{today}}" [(ngModel)]="selectedItem.contactDetail.dob"
                    [format]="'yyyy-MM-dd'">
                  </wj-input-date>
                </div>
                <div class="col-sm-6 fields_box">
                  <label for="search-input">{{ 'Translation.Profession' | translate }}  <span class="validation"></span></label>
                  <wj-combo-box class="wijmo_style"  id="professionId" formControlName="professionId" [isEditable]="true" [itemsSource]="professionList"
                    displayMemberPath="professionCode" selectedValuePath="professionId" [(ngModel)]="selectedItem.contactDetail.professionId"></wj-combo-box>
                </div>
              </div>


              <div class="row" style="margin: 40px 40px 0px 40px" *ngIf="showCorporate">
                <h3>{{ 'Translation.Corporate Agent' | translate }}</h3>
                <div class="col-sm-12"></div>

                <div class="col-sm-6 fields_box">
                  <label for="search-input">{{ 'Translation.Company Name' | translate }}  <span class="validation">*</span></label>
                  <wj-input-mask class="wijmo_style" id="companyName" formControlName="companyName" maxlength="50" [(ngModel)]="selectedItem.contactDetail.companyName"
                    required [isRequired]="true"> </wj-input-mask>
                  <div *ngIf="myForm.controls['companyName'].hasError('required')" [hidden]="myForm.controls.companyName.valid || (myForm.controls.companyName.pristine && !isSubmitted)"
                    class="text-danger">{{ 'Translation.Company Name' | translate }} {{ 'Translation.is required' | translate }}.</div>
                  <div *ngIf="myForm.controls['companyName'].hasError('pattern')" class="text-danger">{{ 'Translation.Invalid' | translate }} {{ 'Translation.Company Name' | translate }}</div>
                </div>
                <div class="col-sm-6 fields_box">
                  <label for="search-input">DISN <span class="validation">*</span></label>
                  <wj-input-mask class="wijmo_style"  id="registrationNo" formControlName="registrationNo" maxlength="50" [(ngModel)]="selectedItem.contactDetail.registrationNo"
                    required [isRequired]="true"> </wj-input-mask>
                  <div *ngIf="myForm.controls['registrationNo'].hasError('required')" [hidden]="myForm.controls.registrationNo.valid || (myForm.controls.registrationNo.pristine && !isSubmitted)"
                    class="text-danger">DISN {{ 'Translation.is required' | translate }}.</div>
                  <div *ngIf="myForm.controls['registrationNo'].hasError('pattern')" class="text-danger">{{ 'Translation.Invalid' | translate }} DISN</div>
                </div>
                <div class="col-sm-6 fields_box">
                  <label for="search-input">{{ 'Translation.Industry' | translate }}  <span class="validation">*</span></label>
                  <wj-combo-box class="wijmo_style"  id="industryId" formControlName="industryId" [isEditable]="true" [itemsSource]="industryList"
                    displayMemberPath="industryName" selectedValuePath="industryId" [(ngModel)]="selectedItem.contactDetail.industryId"></wj-combo-box>
                  <div *ngIf="myForm.controls['industryId'].hasError('required')" [hidden]="myForm.controls.industryId.valid || (myForm.controls.industryId.pristine && !isSubmitted)"
                    class="text-danger">{{ 'Translation.Industry' | translate }} {{ 'Translation.is required' | translate }}.</div>
                </div>
              </div>



              <div class="row" style="margin: 40px 40px 0px 40px">
                <h3>{{ 'Translation.Contact Details' | translate }}</h3>
                <div class="col-sm-12"></div>

                <div class="col-sm-6 fields_box">
                  <label for="search-input">{{ 'Translation.Country' | translate }}  <span class="validation">*</span></label>
                  <wj-combo-box class="wijmo_style" id="countryId"  formControlName="countryId" [isEditable]="true" [itemsSource]="countryList"
                    displayMemberPath="countryName" (ngModelChange)="onCountryChangeEvent($event)" selectedValuePath="countryId"
                    [(ngModel)]="selectedItem.contactDetail.countryId" required></wj-combo-box>
                  <div *ngIf="myForm.controls['countryId'].hasError('required')" [hidden]="myForm.controls.countryId.valid || (myForm.controls.countryId.pristine && !isSubmitted)"
                    class="text-danger">{{ 'Translation.Country' | translate }} {{ 'Translation.is required' | translate }}.</div>
                </div>

                <div class="col-sm-6 fields_box">
                  <label for="search-input">{{ 'Translation.City' | translate }} <span class="validation">*</span></label>
                  <wj-combo-box class="wijmo_style" #cmbCityId id="cityId"  formControlName="cityId" [isEditable]="true" [itemsSource]="cityList"
                    displayMemberPath="cityName" selectedValuePath="cityId" [(ngModel)]="selectedItem.contactDetail.cityId"
                    required></wj-combo-box>
                  <div *ngIf="myForm.controls['cityId'].hasError('required')" [hidden]="myForm.controls.cityId.valid || (myForm.controls.cityId.pristine && !isSubmitted)"
                    class="text-danger">{{ 'Translation.City' | translate }} {{ 'Translation.is required' | translate }}.</div>
                </div>

                <div class="col-sm-12 fields_box">
                  <label for="search-input">{{ 'Translation.Address' | translate }} <span class="validation">*</span></label>
                  <wj-input-mask class="wijmo_style"  id="address" formControlName="address" maxlength="250" [(ngModel)]="selectedItem.contactDetail.address1"
                    required> </wj-input-mask>
                  <div *ngIf="myForm.controls['address'].hasError('required')" [hidden]="myForm.controls.address.valid || (myForm.controls.address.pristine && !isSubmitted)"
                    class="text-danger">{{ 'Translation.Address' | translate }} {{ 'Translation.is required' | translate }}.</div>
                  <div *ngIf="myForm.controls['address'].hasError('pattern')" class="text-danger">{{ 'Translation.Invalid' | translate }} {{ 'Translation.Address' | translate }}.</div>
                </div>

                <div class="col-sm-6 fields_box">
                  <label for="search-input">{{ 'Translation.Postal Code' | translate }}  <span class="validation">*</span></label>
                  <wj-input-mask class="wijmo_style"  id="postalCode" formControlName="postalCode" maxlength="10" [(ngModel)]="selectedItem.contactDetail.postalCode"
                    required> </wj-input-mask>
                  <div *ngIf="myForm.controls['postalCode'].hasError('required')" [hidden]="myForm.controls.postalCode.valid || (myForm.controls.postalCode.pristine && !isSubmitted)"
                    class="text-danger">{{ 'Translation.Postal Code' | translate }} {{ 'Translation.is required' | translate }}.</div>
                  <div *ngIf="myForm.controls['postalCode'].hasError('pattern')" class="text-danger">{{ 'Translation.Invalid' | translate }} {{ 'Translation.Postal Code' | translate }}.</div>
                </div>

                <div class="col-sm-6 fields_box">
                  <label for="search-input">{{ 'Translation.Phone Number' | translate }}.  <span class="validation">*</span></label>
                  <wj-input-mask class="wijmo_style"  id="phone1" formControlName="phone1" maxlength="20" [(ngModel)]="selectedItem.contactDetail.phone1"
                    required></wj-input-mask>
                  <div *ngIf="myForm.controls['phone1'].hasError('required')" [hidden]="myForm.controls.phone1.valid || (myForm.controls.phone1.pristine && !isSubmitted)"
                    class="text-danger">{{ 'Translation.Phone Number' | translate }}. {{ 'Translation.is required' | translate }}.</div>
                  <div *ngIf="myForm.controls['phone1'].hasError('pattern')" class="text-danger">{{ 'Translation.Invalid' | translate }} {{ 'Translation.Phone Number' | translate }}.</div>
                </div>

                <div class="col-sm-6 fields_box">
                  <label for="search-input">{{ 'Translation.Mobile Number' | translate }}.  <span class="validation"></span></label>
                  <wj-input-mask class="wijmo_style"  id="cellNo" formControlName="cellNo" maxlength="20" [(ngModel)]="selectedItem.contactDetail.cellNo"></wj-input-mask>
                  <div *ngIf="myForm.controls['cellNo'].hasError('pattern')" class="text-danger">{{ 'Translation.Invalid' | translate }} {{ 'Translation.Mobile Number' | translate }}.</div>
                </div>
                <div class="col-sm-6 fields_box">
                  <label for="search-input">{{ 'Translation.Email' | translate }}  <span class="validation">*</span></label>
                  <wj-input-mask class="wijmo_style"  placeholder="abc@xyz.com" id="email" formControlName="email" maxlength="100"
                    [(ngModel)]="selectedItem.contactDetail.email"></wj-input-mask>
                  <div *ngIf="myForm.controls['email'].hasError('required')" [hidden]="myForm.controls.email.valid || (myForm.controls.email.pristine && !isSubmitted)"
                    class="text-danger">{{ 'Translation.Email' | translate }} {{ 'Translation.is required' | translate }}.</div>
                  <div *ngIf="myForm.controls['email'].hasError('pattern')" class="text-danger">{{ 'Translation.Invalid' | translate }} {{ 'Translation.Email' | translate }}.</div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="orange_footer">
          <button id="btnSave" type="submit"  class="save_btn" *ngIf="!isEditing && userService.isAuhtorized(userService.EB_CONF_AGENT_NEW)">{{ 'Common.Save' | translate }}</button>
          <button id="btnEdit" type="submit"  class="save_btn" *ngIf="isEditing && userService.isAuhtorized(userService.EB_CONF_AGENT_UPDATE)">{{ 'Common.Update' | translate }}</button>
          <button type="submit" class="cancel_btn"  data-dismiss="modal" (click)="onCancelAction()">{{ 'Common.Cancel' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
<dialog-cmp #dialogCmp (btnClick)="getNotification($event)"> </dialog-cmp>