<div class="row">
    <div class="col-lg-12 col-xs-12">
      <section class="widget" widget>
        <header>
          <h3>{{ 'Translation.Best' | translate }} <span class="fw-semi-bold">{{ 'Translation.Orders' | translate }}</span></h3>
          <div class="other_btns">
            <button data-toggle="collapse" data-target="#filter_box" class="filter_btn"><i class="fa fa-filter" aria-hidden="true"></i> {{ 'Common.Filter' | translate }}</button>
          </div>
          <div class="filter_Detailbox">
            <div id="filter_box" class="collapse in">
              <form role="form" [formGroup]="myForm" novalidate>
                <div class="row">
                  <div class="col-sm-4">
                    <label for="search-input">{{ 'Translation.Exchange' | translate }}</label>
                    <wj-combo-box id="exchange" formControlName="exchange" class="form-control form-control-sm" #cmbExchange [itemsSource]="exchanges"
                      [(ngModel)]="exchangeId" (ngModelChange)="onExchangeChange($event)" displayMemberPath="exchangeCode" selectedValuePath="exchangeId"
                      required>
                    </wj-combo-box>
                    <div *ngIf="myForm.controls['exchange'].hasError('required')" [hidden]="myForm.controls.exchange.valid || !isSubmitted" class="text-danger">{{ 'Translation.Exchange' | translate }} {{ 'Translation.is required' | translate }}.</div>
                  </div>
                  <div class="col-sm-3">
                    <label for="search-input">{{ 'Translation.Market' | translate }}</label>
                    <wj-combo-box id="market" formControlName="market" class="form-control form-control-sm" #cmbMarket [itemsSource]="markets"
                      [(ngModel)]="marketId" displayMemberPath="marketCode" selectedValuePath="marketCode" required>
                    </wj-combo-box>
                    <div *ngIf="myForm.controls['market'].hasError('required')" [hidden]="myForm.controls.market.valid || !isSubmitted" class="text-danger">{{ 'Translation.Market' | translate }} {{ 'Translation.is required' | translate }}.</div>
                  </div>
                  <div class="col-sm-3">
                    <label for="search-input">{{ 'Translation.Security' | translate }}</label>
                    <wj-input-mask id="securityCode" maxlength="40" formControlName="securityCode" [(ngModel)]="securityCode" (lostFocus)="onSymbolFocusOut()"
                      required> </wj-input-mask>
                    <div *ngIf="myForm.controls['securityCode'].hasError('required')" [hidden]="myForm.controls.securityCode.valid || !isSubmitted"
                      class="text-danger">{{ 'Translation.Security' | translate }} {{ 'Translation.is required' | translate }}.</div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form_search">
                      <button type="submit" class="btn btn-success btn-sm" title="{{ 'Translation.Search' | translate }}" data-toggle="collapse in"
                        data-target="#filter_box" (click)="onSubmit()"><span class="glyphicon glyphicon-search"></span> </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="widget-controls">
            <a data-widgster="expand" title="{{ 'Translation.Expand' | translate }}" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
            <a data-widgster="collapse" title="{{ 'Translation.Collapse' | translate }}" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
          </div>
        </header>
        <div class="widget-body">
          <div class="row full_container">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-4">
              <div class="row">
                <label for="search-input">{{ 'Translation.Total Buy' | translate }} &nbsp;&nbsp;&nbsp; </label>
                <div class="input-group">
                  <wj-input-number id="totalBuy" name="totalBuy" [(ngModel)]="totalBuy" [format]="'n4'" [isDisabled]="true"></wj-input-number>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="row">
                <label for="search-input">{{ 'Translation.Total Sell' | translate }} &nbsp;&nbsp;&nbsp; </label>
                <div class="input-group">
                  <wj-input-number id="totalSell" name="totalSell" [(ngModel)]="totalSell" [format]="'n4'" [isDisabled]="true"></wj-input-number>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
            </div>
          </div>
          <div class="row">
            <wj-flex-grid class="grid" [isReadOnly]="true" [itemsSource]="statsdata" [selectionMode]="'Row'" [autoSizeMode]="'Headers'"
              [headersVisibility]="'Column'" style="height: 675px;" #flexGridCombine>
  <wj-flex-grid-column [header]="'Translation.Flags' | translate" align="left" [binding]="'flags'" [width]="'0.5*'" [minWidth]="30" [allowSorting]="false"></wj-flex-grid-column>
  <wj-flex-grid-column [header]="'Translation.Qualtity' | translate" align="right" [binding]="'volume_buy'" [width]="'0.5*'" [minWidth]="30" [format]="'n0'"
    [allowSorting]="false"></wj-flex-grid-column>
  <wj-flex-grid-column [header]="'Translation.Price' | translate" align="right" [binding]="'price_buy'" [width]="'0.5*'" [minWidth]="30" [format]="'n4'"
    [allowSorting]="false"></wj-flex-grid-column>
  <wj-flex-grid-column [header]="'Translation.Price' | translate" align="right" [binding]="'price_sell'" [width]="'0.5*'" [minWidth]="30" [format]="'n4'"
    [allowSorting]="false"></wj-flex-grid-column>
  <wj-flex-grid-column [header]="'Translation.Quantity' | translate" align="right" [binding]="'volume_sell'" [width]="'0.5*'" [minWidth]="30" [format]="'n4'"
    [allowSorting]="false"></wj-flex-grid-column>
  <wj-flex-grid-column [header]="'Translation.Flags' | translate" align="left" [binding]="'flags'" [width]="'0.5*'" [minWidth]="30" [format]="'n4'"
    [allowSorting]="false"></wj-flex-grid-column>
  </wj-flex-grid>
  </div>
  </div>
  </section>
  </div>
  </div>
