<div [formGroup]="authorizedTraderFormGroup">
    <div class="authorized-trader main-form-div">
    <h2>AUTHORIZED TRADER</h2>
      
        I/We, hereby authorize the following trader to receive orders for its execution as per instruction:
Name of Broker: <mat-form-field>
    <input matInput name="brokerName" formControlName="brokerName" >
</mat-form-field>           Name of Trader: <mat-form-field>
    <input matInput name="traderName" formControlName="traderName" >
</mat-form-field>


    </div>
</div>