<div [formGroup]="marginDepositFormGroup">
    <div class="margin-deposit main-form-div">
    <h2>MARGIN DEPOSIT</h2>
        
        The Account Holder(s) hereby undertakes to deposit and maintain <mat-form-field>
            <input matInput name="marginPercentage" formControlName="marginPercentage" >
        </mat-form-field> % margin against his/her/their outstanding trades/exposure for the purpose of trading in his/her/their account. The broker shall notify the Account Holder(s) about any change in the above margin requirements for the already executed trades at least 3 working days prior to the implementation of the revised margin requirements.
      
    </div>
</div>