
<section class="widget" widget="">
	<header>
		<h3><span class="fw-semi-bold">{{"Menu.Cities" | translate}}</span></h3>
		<div class="other_btns">
			<button *ngIf="userService.isAuhtorized(userService.EB_CITY_NEW)" class="add_new_btn" id="btnNew" data-toggle="modal" (click)="onNewAction()"
			 data-target="#add_new" type="button" data-backdrop="static" title="{{'Translation.Add' | translate}}" ><i class="fa fa-plus" aria-hidden="true"></i> </button>
		</div>
	</header>
	<div class="table_container">
		<wj-flex-grid [itemsSource]="itemsList" [isReadOnly]="true" [selectionMode]="'Row'" [autoSizeMode]="'Headers'" [headersVisibility]="'Column'"
		 style="height: 320px;" #flex>
			<wj-flex-grid-filter [filterColumns]="['cityCode', 'cityName','country.countryName']"></wj-flex-grid-filter>
			<wj-flex-grid-column [header]="'Translation.Country' | translate" [binding]="'country.countryName'" [align]="'left'" [width]="'0.5*'" [minWidth]="30"></wj-flex-grid-column>
			<wj-flex-grid-column [header]="'Translation.Code' | translate" [binding]="'cityCode'" [align]="'left'" [width]="'0.5*'" [minWidth]="30"></wj-flex-grid-column>
			<wj-flex-grid-column [header]="'Translation.Name' | translate" [binding]="'cityName'" [align]="'left'" [width]="'0.5*'" [minWidth]="30"></wj-flex-grid-column>
			<wj-flex-grid-column [header]="'Common.Action' | translate" [width]="'0.2*'" [align]="'center'" [minWidth]="30" *ngIf="userService.isAuhtorized(userService.EB_CITY_UPDATE)">
				<ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
					<!--<button id="btnEdit" class="on_edit_button" role="button" (click)="onEditAction()"
					 title="Edit"  data-target="#add_new" data-toggle="modal" data-backdrop="static"> <img src="assets/img/edit_orange.png"/> </button>-->
					 <img src="assets/img/edit_orange.png" class="gridImg" title="{{'Translation.Edit' | translate}}" (click)="onEditAction()" data-target="#add_new" data-toggle="modal" data-backdrop="static"/>

				</ng-template>
			</wj-flex-grid-column>
		</wj-flex-grid>
	</div>
	<div class="row"></div>
	<div class="btn-group col-xs-12 align-right">
		<!-- Paginator -->
		<wj-collection-view-pager [cv]="flex?.collectionView"></wj-collection-view-pager>
		<!-- page size -->
		<wj-menu [(value)]="pageSize" [header]= "'Common.Page Size' | translate">
			<wj-menu-item [value]="0">{{ 'Common.No Paging' | translate }}</wj-menu-item>
			<wj-menu-item [value]="5">5 {{ 'Common.items' | translate }}</wj-menu-item>
			<wj-menu-item [value]="10">10 {{ 'Common.items' | translate }}</wj-menu-item>
			<wj-menu-item [value]="20">20 {{ 'Common.items' | translate }}</wj-menu-item>
			<wj-menu-item [value]="30">30 {{ 'Common.items' | translate }}</wj-menu-item>
			<wj-menu-item [value]="50">50 {{ 'Common.items' | translate }}</wj-menu-item>
			<wj-menu-item [value]="100">100 {{ 'Common.items' | translate }}</wj-menu-item>
		</wj-menu>
	</div>
</section>
<!--</div>
</div>-->

<div id="add_new" class="modal fade" role="dialog" data-keyboard="true">
	<div class="modal-dialog modal-lg">

		<!-- Modal content-->
		<div class="modal-content">
			<form class="form-horizontal form-label-left parsleyjs" data-parsley-priority-enabled="false" role="form" [formGroup]="myForm"
			 novalidate (ngSubmit)="onSaveAction(myForm.value, myForm.valid)">
				<div class="modal-body modal-no-border">
					<div class="row setup_box_container">
						<div class="col-md-3 col-sm-5 modal_left">
							<div class="wizard_Logo">
								<img src="assets/img/Cities.png" class="formImg"/>
								<h4>{{'Translation.City' | translate}}</h4>
								<p>{{'Translation.Management & configurations of cities' | translate}}</p>
							</div>
						</div>
						<div class="col-md-9 col-sm-7 modal_center">
							<div class="row" style="margin: 40px 40px 0px 40px">
								<div class="col-sm-6 fields_box">
									<label for="countryId">{{'Translation.Country' | translate}} <span class="validation">*</span></label>
									<wj-combo-box #countryId id="countryId" tabindex="1" autofocus="autofocus" formControlName="countryId" class="wijmo_style"
									 [isEditable]="true" [itemsSource]="countryList" displayMemberPath="countryName" selectedValuePath="countryId" [(ngModel)]="selectedItem.country.countryId"
									 required></wj-combo-box>
									<div *ngIf="myForm.controls['countryId'].hasError('required')" [hidden]="myForm.controls.countryId.valid || (myForm.controls.countryId.pristine && !isSubmitted)"
									 class="text-danger">{{'Translation.Country' | translate}} {{'Translation.is required' | translate}}.</div>
								</div>
								<div class="col-sm-6 fields_box">
									<label for="cityCode">{{'Translation.Code' | translate}} <span class="validation">*</span></label>
									<wj-input-mask id="cityCode" class="wijmo_style" formControlName="cityCode" maxlength="5" [(ngModel)]="selectedItem.cityCode"
									 myForm required [isRequired]="true"> </wj-input-mask>
									<div *ngIf="myForm.controls['cityCode'].hasError('required')" [hidden]="myForm.controls.cityCode.valid || (myForm.controls.cityCode.pristine && !isSubmitted)"
									 class="text-danger">{{'Translation.Code' | translate}} {{'Translation.is required' | translate}}.</div>
									<div *ngIf="myForm.controls['cityCode'].hasError('pattern')" class="text-danger">{{'Translation.Invalid' | translate}} {{'Translation.Code' | translate}}.</div>
								</div>
								<div class="col-sm-6 fields_box">
									<label for="cityName">{{'Translation.Name' | translate}} <span class="validation">*</span></label>
									<wj-input-mask id="cityName" class="wijmo_style" formControlName="cityName" maxlength="50" [(ngModel)]="selectedItem.cityName"
									 myForm required [isRequired]="true"> </wj-input-mask>
									<div *ngIf="myForm.controls['cityName'].hasError('required')" [hidden]="myForm.controls.cityName.valid || (myForm.controls.cityName.pristine && !isSubmitted)"
									 class="text-danger">{{'Translation.Name' | translate}} {{'Translation.is required' | translate}}.</div>
									<div *ngIf="myForm.controls['cityName'].hasError('pattern')" class="text-danger">{{'Translation.Invalid' | translate}} {{'Translation.Name' | translate}}.</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="orange_footer_small">
					<button id="btnSave"  type="submit" class="save_btn" *ngIf="!isEditing && userService.isAuhtorized(userService.EB_CITY_UPDATE)">{{'Common.Save' | translate}}</button>
					<button id="btnEdit"  type="submit" class="save_btn" *ngIf="isEditing && userService.isAuhtorized(userService.EB_CITY_UPDATE)">{{'Common.Update' | translate}}</button>
					<button id="btnCancel"  type="button" data-dismiss="modal" class="cancel_btn" (click)="onCancelAction()">{{'Common.Cancel' | translate}}</button>
				</div>
			</form>
		</div>
	</div>
</div>

<dialog-cmp #dialogCmp (btnClick)="getNotification($event)"> </dialog-cmp>